FORMAT: 1A
HOST: http://doctormap.dragan.com.ua/
 
# DoctorMap API

Debug API URL: 

http://doctormap.dragan.com.ua/

        + /doctor-spec
        + /sms (action 1 and 2)
        + /users/sign-in
        + /users (get user by authorization)
        + /users/register
        + /promo-categories
        + /posts (события)
        + /users/set-account-type
        + /users/add-member
        + /promo-categories/promo-list-by-category

Production API URL: 

http://api.doctormap.az/v1/ - це заглушка, в майбутньому тут буде справжня адреса

## Status Code

        1 - success
        2 - user already exists
        3 - access denied
        
## Add member to the user [/users/add-member]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
    
## События [/posts]

### Список всех событий [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
                "status": 1,
                "data":
                    [
                        {
                            "post_title": "Şirinə qarşı meyliliyə üstün gəlmək  ",
                            "post_content": "Kiçik porsiyalarla müntəzəm qida qəbulu şirniyyata olan meyliliyin qarşısını almağa kömək edir. Bu metod qanda olan şəkərin qalxmasının qarşısını almağa köməklik edir. Əgər şəkərsiz heç cür qala bilmirsinizsə, bu zaman şəkər tərkibli tərəvəzləri meyvələrlə əvəz edin. <!--more-->\r\nŞirniyyata olan meylliyiniz Sizin qida rasionunuzda tərəvəzlərin seçiminizə təsir etməməlidir. Bəzi kiçik həcmli qida porsiyaları var ki, onlar Sizi gün ərzində tox saxlayır və şəkər tərkibli bir şeylər yeməyinizin qarşısını alır.  Qida rasionunuz zəngin proteinli və sağlam yağlı kiçik porsiyalardan ibarət olmalıdır. Bununla yanaşı buraya tərəvəz, quru meyvə, üzüm və çərəz əlavə olunmalıdır. Bu pəhriz Sizə gün ərzində güclü qalmağınıza kömək edəcək.\r\n\r\nŞirniyyata olan meylliliyinizin qarşısını ala bilməyən zaman keyfiyyətli qida rasionundan istifadə edin. Əsl tünd qara şokoladın orqanizmə heç bir ziyanı yoxdur. Çalışın şokoladı asta və dadını hiss edərək yeyin."
                        },
                        {
                            "post_title": "Elektron siqaretlərin sağlamlığa olan potensial zərərləri haqqında",
                            "post_content": "Bu məqalə Ümumdünya Səhiyyə təşkilatı tərəfindən nikotin tərkibli elektron siqaretlərə qoyulan qadağa ilə bağlı qərarlarına əsasən dərc olunmuşdur.\r\n\r\nHeç kim, elektron siqaretlərin zərrəsiz olduğunu bilmir. Reklamlarda elektron siqaretlərin insanlara siqaret çəkməyi tərgitməyinə köməklik etdiyi deyilir. Lakin heç bir araşdırma bu fikri təsdiq etməyib.\r\n\r\nElektron siqaretlər adi siqaret və ya siqar kimidirlər. <!--more-->Bu cihazların qələmə oxşar forması var. Cihaz batareya ilə işləyir. İçərisində xüsusi isidicisi, nikatın və digər kimyəvi maddələr olan katrici var. Bununla yanaşı cihaz alışan kimyəvi maddələri tüstü halına çevirən spreylə təchiz olunub.\r\n\r\nKimin, nəyinə lazımdır elektron siqaret çəkmək? Adi siqaretlərin tərkibində istifadəçilərdə asılılıq yaradan nikatın olur. Eyni zamanda siqaretin tərkibində orqanizmə düşən zaman onkoloji xəstəliklərin yaranmasına səbəb ola biləcək qatran olur. Elektron siqaret tərəfdarları əmin edirlər ki, cihaz sağlamlığa heç bir zərər vermədən siqaret çəkməyə imkan verir.\r\n\r\nElektron siqaret istifadəçisi siqaret çəkən zaman nikotin, su və propilen qlikol məhlulu udur. Nikotin iyi əvvəllər siqaret çəkən bəzi insanlarda yenidən adi siqaret çəkmək arzusu yaradır. Elektron siqaretdən istifadə edən insan qatran, adi siqaretdə olan dəm qazı və başqa maddələr udmur. Bu səbəbdən elektron siqaret istifadəçisi nikotindən zövq alarkən xərçəng xəstəliyinə tutulma qorxusu ilə üz-üzə qalmır.\r\n\r\nAldanmayın. Elektron siqaretlərə ehtiyatla yanaşmaq lazımdır. Əvvəla hər nəfəsdə aldığınız nikotin fərqli ola bilər. Nikotin – çox orqanların fəaliyyətini stimullaşdırır və nikotinin yüksək dozası ürəyin ritmini poza bilər. Hazırda elektron siqaretlərin ürək ritminin pozmasına dair heç bir dəlil yoxdur.\r\n\r\nİkincisi, elektron siqaretlərin tərkibində bir çox kimyəvi spektrlər var. Bu maddələrə yüksək zəhərli dietilenqlikolun qlikol, yüksək kanserogen Formaldehid və insan orqanizminə zərər verən daha 4 zərərli maddələr daxildir.\r\n\r\nHələ ki, elektron siqaretlərin adi siqaretlər kimi xərçəng xəstəliyi yaratmasına dair heç bir dəlil yoxdur. Bu da elektron siqaretlərlə bağlı uzunmüddətli tədqiqatların aparılmadığından irəli gəlir.\r\n\r\nÜçüncüsü elektron siqaretlər siqaret çəkmə prosesini təqlid etmək üçün ixtira olunub. Sırf bu səbəbdən siqareti tərgitmiş insanda yenidən əvvəlki adətinə qayıtmaq həvəsi yarana bilər. Elektron siqaret heç vaxt siqaret çəkməyən cavan insanlar üçün adi siqaretdən istifadəyə keçməyə ilk addım ola bilər. Tibbi cəhətdən elektron siqaretin zərərləri haqqında geniş sübut və dəlillər olmadan istifadəçilərə ehtiyatlı olmaları tövsiyə olunur."
                        }
                    ]
            } 
        
## Discounts [/discounts]

### Get all discounts by promo category [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx
   
    + Body
    
            {
               "promo_category_id": "1"
            }

+ Response 200 (application/json)

             {
              "status": 1,
              "data": [
                {
                  "id": "1",
                  "name": "Muayine",
                  "count": "5",
                  "fardi": "10",
                  "aile": "20"
                },
                {
                  "id": "2",
                  "name": "Check-UP",
                  "count": "2",
                  "fardi": "50",
                  "aile": "70"
                },
                {
                  "id": "3",
                  "name": "Emeliyyatlar",
                  "count": "0",
                  "fardi": "-",
                  "aile": "10"
                }
              ]
            }

## SMS API [/sms]
+ action (Number) - required

            1 - invite_friend
            2 - check_code

### Invite friend by SMS [POST]

+ Request (application/json)

        {
            "action": "1",
            "phone": "+380681234567"
        }

+ Response 200 (application/json)

            {
                "status": 1
            }

### Check user SMS code [POST]

+ Request (application/json)

        {
            "action": "2",
            "phone": "+380684466574",
            "code": "12-12-12"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "authorization": "jopJCkS6pxWQlb_KaMO9OCfElmwZATsx"
            }
        }

## User Registration [/users/register]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## User Sign in [/users/sign-in]
        
### User Sign in [POST]

    Response statuses:
        + 1 - user exists, SMS was sended
        + 2 - user not exists, must be registered now?

+ Request (application/json)

        {
            "phone": "+994507505555"
        }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## Users Collection [/users]

### Get user info [GET]

    + account_type:
        0 - not registered
        1 - limited package
        2 - unlimited package (owner)
        3 - unlimited package (member)


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "id": "123",
                "phone": "+380681234567",
                "name": "Test User",
                "birthdate": "1990-01-01",
                "gender": 1,
                "city_id": 1,
                "region_id": 1,
                "account_type": "1",
                "card_number": "1234-1234-1234-1234",
                "members": [
                    {
                        "id": "111",
                        "phone": "+380671234567",
                        "name": "Test User1",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    },
                    {
                        "id": "222",
                        "phone": "+380691234567",
                        "name": "Test User2",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    }
                ]
            }
        }
        
## User Updating [/users/set-account-type]

### Set Account Type [POST]

+ Request (application/json)
        
    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx
   
    + Body
  
            {
                "id": "123",
                "type": "1"
            }

+ Response 200 (application/json)

        {
            "id": "123",
            "phone": "+380681234567",
            "name": "New User",
            "birthdate": "1980-01-01",
            "gender": "newuser@gmail.com",
            "city": "Запорожье",
            "authorization": "123123123",
            "account_type": "1"
        }
        
## Promo Categories Collection [/promo-categories]

### Get all categories [GET]

+ Request (application/json)

        {
           
        }

+ Response 200 (application/json)

             {
              "status": 1,
              "data": [
                {
                  "id": "1",
                  "name": "Endirimler",
                  "count": 20
                },
                {
                  "id": "2",
                  "name": "Aksiyalar",
                  "count": 20
                },
                {
                  "id": "3",
                  "name": "Hədiyyələr",
                  "count": 20
                },
                {
                  "id": "4",
                  "name": "Elanlar",
                  "count": 20
                },
                {
                  "id": "5",
                  "name": "Məqalələr",
                  "count": 20
                },
                {
                  "id": "6",
                  "name": "Forum",
                  "count": 20
                },
                {
                  "id": "7",
                  "name": "Administrator online",
                  "count": 20
                }
              ]
            }

## Doctor's Categories Collection [/doctor-spec]

### Get all doctor's categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                  "term_taxonomy_id": "251",
                  "term_id": "146",
                  "count": "0",
                  "term": {
                    "term_id": "146",
                    "name": "Allerqoloq"
                  }
                },
                {
                  "term_taxonomy_id": "258",
                  "term_id": "183",
                  "count": "7",
                  "term": {
                    "term_id": "183",
                    "name": "Dermatoveneroloq"
                  }
                },
                {
                  "term_taxonomy_id": "259",
                  "term_id": "150",
                  "count": "2",
                  "term": {
                    "term_id": "150",
                    "name": "Dietoloq"
                  }
                }
              ]
            }