FORMAT: 1A
HOST: http://doctormap.dragan.com.ua/
 
# DoctorMap API

Debug API URL: 

http://doctormap.dragan.com.ua/

        + /users/request-unlimited-package
        + /users/sign-in (http://prnt.sc/b3i28a)
        + /users/check-sms (http://prnt.sc/b3i28a)
        + /users/check-promo (http://prnt.sc/b3i28a)
        + /users/confirm (http://prnt.sc/b3i28a)
        - /users/reset-login (http://prnt.sc/b3i28a)
        + /users/register (http://prnt.sc/b3i28a)
        + /gifts (http://prnt.sc/awjejh)
        + /events (http://prnt.sc/awjh8y)
        + /online-messages/write (пост нового сообщения от юзера, http://prnt.sc/awjgf8)
        + /online-messages (список сообщений из "Admin Online", http://prnt.sc/awjgf8)
        + /users/set-device-token
        + /forum/write (пост нового сообщения в форум, http://prnt.sc/awjg7y)
        + /forum/messages-list-by-forum (список сообщений форума, http://prnt.sc/awjg7y)
        + /forum/themes-list (список форумов, http://prnt.sc/awjg7y)
        + /adversitements (объявления)
        + /promos/promo-list-by-category (http://prnt.sc/awmsmo, http://prnt.sc/awltjf)
        + /institution/promos-list-by-institution (http://prnt.sc/awms3r)
        + /doctor-spec/doctor-list-by-institution
        + /doctor-spec
        + /sms (action 1 and 2)
        + /users (get user by authorization)
        + /users/add-member
        + /doctor-spec/doctor-list-by-category
        + /institution/all-institution-types (типы учреждений)
        + /institution/institution-list-by-type (список учреждений по типу)
        + /categories
        + /categories/get-list-by-category

Production API URL: 

http://api.doctormap.az/v1/ - це заглушка, в майбутньому тут буде справжня адреса

## Status Code

        1 - success
        2 - general error
        3 - access
        
## Request unlmited package [/users/request-unlimited-package]

### Request unlmited package [POST]

+ Request (application/json)
        
    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## User Sign in [/users/sign-in]
        
### User Sign in [POST]

    + phone (String) - required

+ Request (application/json)

        {
            "phone": "+994507505555"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "is_registered": true,
                "need_check_sms": false
            }
        }
        
## Check SMS code [/users/check-sms]
        
### Check SMS code [POST]

    + phone (String) - required
    + sms_code (String) - required

+ Request (application/json)

        {
            "phone": "+994507505555",
            "sms_code": "12-12-12"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "is_valid": true,
                "need_enter_promo": false,
                "authorization": "jopJCkS6pxWQlb_KaMO9OCfElmwZATsx"
            }
        }
        
## Check promo code [/users/check-promo]
        
### Check promo code [POST]

    + promo_code (String) - required

+ Request (application/json)

        {
            "promo_code": "А52-455"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "is_valid": true
            }
        }
        
## Confirm user login [/users/confirm]
        
### Confirm user login [POST]

    + Authorizatioin header (String) - required
    + promo_code (String) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body
        
            {
                "promo_code": "А52-455"
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## User Registration [/users/register]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional
    + device_type (Integer) - optional (1-Android,2-iOS)
    + device_token (String) - optional
    + promo_code (String) - optional

+ Request (application/json)

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1,
                "device_type": 1,
                "device_token": "KaMO9OCfElmwZATsxjopJCkS6pxWQlb_",
                "promo_code": "А52-455"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "authorization": "jopJCkS6pxWQlb_KaMO9OCfElmwZATsx"
            }
        }
        
## Get all available settings list [/users/all-available-settings]

### Get all available settings list [GET]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
          "status": 1,
          "data": {
            "news": [
              {
                "setting_type": "news_gift",
                "label": "Подарки"
              },
              {
                "setting_type": "news_adversitement",
                "label": "Объявления"
              },
              {
                "setting_type": "news_post",
                "label": "Статьи"
              }
            ],
            "push": [
              {
                "setting_type": "push_general_notifications",
                "label": "Пуш уведомления"
              }
            ]
          }
        }
        
## Saving user settings [/users/save-settings]

### Saving user settings [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "settings": [
                    "news_gift": 0,
                    "news_post": 1,
                ]
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
       
## Get all events [/events]

### Get all events [GET]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "id": "5",
              "target_post_id": "5500",
              "created_at": "2016-05-11 05:21:35",
              "event_type": "promo",
              "post": {
                "ID": "5500",
                "post_author": "2",
                "post_date": "2015-11-28 17:13:55",
                "post_date_gmt": "2015-11-28 12:13:55",
                "post_content": "<h3><span style=\"color: #ff0000;\">20 % Endirim</span></h3>          ",
                "post_title": "Ortodontiya",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "closed",
                "ping_status": "closed",
                "post_password": "",
                "post_name": "ortodontiya-3",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2016-05-06 01:05:56",
                "post_modified_gmt": "2016-05-05 20:05:56",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/?post_type=promo&#038;p=5500",
                "menu_order": "1",
                "post_type": "promo",
                "post_mime_type": "",
                "comment_count": "0",
                "user_id": "0",
                "promo_end_date": "2016-06-19"
              },
              "url": "http://doctormap.az/promo/ortodontiya-3"
            },
            {
              "id": "2",
              "target_post_id": "5724",
              "created_at": "2016-05-06 14:21:49",
              "event_type": "adversitement",
              "post": {
                "ID": "5724",
                "post_author": "1061",
                "post_date": "2016-04-28 19:44:38",
                "post_date_gmt": "2016-04-28 14:44:38",
                "post_content": "Объявление 111111",
                "post_title": "Объявление 11",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "closed",
                "ping_status": "closed",
                "post_password": "",
                "post_name": "obyavlenie-11",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2016-04-30 10:29:28",
                "post_modified_gmt": "2016-04-30 05:29:28",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/?post_type=adversitement&#038;p=5724",
                "menu_order": "0",
                "post_type": "adversitement",
                "post_mime_type": "",
                "comment_count": "0",
                "user_id": "0"
              },
              "url": "http://doctormap.az/adversitement/obyavlenie-11"
            },
            {
              "id": "3",
              "target_post_id": "5743",
              "created_at": "2016-05-05 08:30:37",
              "event_type": "gift",
              "post": {
                "ID": "5743",
                "post_author": "1061",
                "post_date": "2016-05-03 19:21:44",
                "post_date_gmt": "2016-05-03 14:21:44",
                "post_content": "",
                "post_title": "Обследование сердца",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "closed",
                "ping_status": "closed",
                "post_password": "",
                "post_name": "obsledovanie-serdtsa",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2016-05-03 19:27:04",
                "post_modified_gmt": "2016-05-03 14:27:04",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/?post_type=gift&#038;p=5743",
                "menu_order": "0",
                "post_type": "gift",
                "post_mime_type": "",
                "comment_count": "0",
                "user_id": "0"
              },
              "url": "http://doctormap.az/gift/obsledovanie-serdtsa"
            },
            {
              "id": "4",
              "target_post_id": "5595",
              "created_at": "2016-05-04 17:32:19",
              "event_type": "post",
              "post": {
                "ID": "5595",
                "post_author": "4",
                "post_date": "2016-01-24 20:31:08",
                "post_date_gmt": "2016-01-24 15:31:08",
                "post_content": "<strong>Fetal exokardioqrafiya nədir?</strong>\r\n\r\nFetal exokardioqrafiya - səs dalğaları ilə dölün ürəyinin müayinəsi prinsipinə dayanır, dölə və anaya məlum olan bir zərəri yoxdur.\r\n\r\n<strong>Fetal exokardioqrafiya hansı hallarda məsləhət görülməkdədir</strong>\r\n<p class=\"2\" align=\"left\">- Ananın 35 yaş üzərində olması,</p>\r\n<p class=\"2\" align=\"left\">- Anada şəkərli diabet xəstəliyinin aşkar olunması,<!--more--></p>\r\n<p class=\"2\" align=\"left\">- Anada fenilketonuriya xəstəlyinin olması,</p>\r\n<p class=\"2\" align=\"left\">- Ananın hamiləliyinin 12  həftəsindən əvvəl qızılca, parvovirus ve koksaki virus xəstəliyi keçirməsi,</p>\r\n<p class=\"2\" align=\"left\">- Anada kollagen toxuma xəstəliyinin olması,</p>\r\n<p class=\"2\" align=\"left\">- Ananın teratogenik (alkohol, litium, fenitoin, valproik turşusu, trimetadon, isotretinon, amfetamin, talidomit) dərmanlardan istifadə etməsi,</p>\r\n<p class=\"2\" align=\"left\">- Ana, ata, diğər övladlarda və ya yaxın qohumlarda anadangəlmə ürək xəstəliyinin olması,</p>\r\n<p class=\"2\" align=\"left\">- Ginekoloqun məsləhət bildiyi hallarda:</p>\r\n<p class=\"2\" align=\"left\">Döldə kardiovaskulyar sistem xəstəliklərinə şübhə və ya aşkar edilməsi;</p>\r\n<p class=\"2\" align=\"left\">Döldə kardiovaskulyar sistem xəstəliklərindən başqa xəstəliklərin (daun sindromu v<span lang=\"az-Latn-AZ\">ə s.</span>) varlığında və ya şübhə edilməsi halında;</p>\r\n<p class=\"2\" align=\"left\">Dölün ürək vurğularının tezliyində dəyişikliklərin olması;</p>\r\n<p class=\"2\" align=\"left\">Ailənin istəyi və ya narahatcılığının aradan qaldırılması üçün.</p>\r\n<p class=\"2\" align=\"left\"><b>Fetal exokardioqrafiyanın əhəmiyyəti</b></p>\r\n<p class=\"2\" align=\"left\">Anadangəlmə ürək qüsürları canlı doğulan uşaqların %1-də rast gəlinir. Uşaqların böyük əksəriyyətində ürəyin normal olması ilə yanaşı, kiçik bir qismində müxtəlif ağırlıqda ürək xəstəlikləri ola bilər. Fetal exokardioqrafiya vasitəsi ilə, ola biləcək hər hansı bir ürək patologiyasının doğuşdan əvvəl aşkarlanması, həkimlərin və ailənin doğüş zamanı və ondan sonrakı taktikasını təyin edir. Misal üçün Fransada anadangəlmə ürək qüsürlarının fetal diqanostikası 48% təşkil edir. Almaniyada 40%, ABŞ-da 36%, Rusiyada 9,5%. Ölkəmizdə təəssüflər olsun belə statistika yoxdur.</p>\r\n<p class=\"2\" align=\"left\">Bəzi patologiyalar doğuşdan dərhal sonra müdaxilə tələb edir. Bu xəstəliklər zamanı (aort darlığı, aort koarktasiyası, aortik qövs kəsintisi böyük damarların transpozisiyası, sağ mədəciyin hipoplaziyası, pulmonar darlıq  və atreziya, trikuspid atreziya, mitral atreziya, hipoplastik sol ürək sindromu, total anormal pulmonar venoz dönüş və s.) doguşdan dərhal sonra medikamentoz müalicə, invaziv və ya kardiocərrahi müdaxilə tələb oluna bilər.</p>\r\n<p class=\"2\" align=\"left\">Medikamentoz müalicədə digər dərmanlarla yanaşı prostaqlandinlər istifadə olunur. Prostaqlandinlər Botal axacağın (aorta ilə ağciyər arteriyası arasında əlavə damar) qapanmasının qarşısını alır.  Bu xəstəlikərdə anormal olsada, qan dövranını yetərli həddə saxlayan Botal axacaq, açıq oval dəlik və ya qulaqcıqarası çəpərin defekti olur.</p>\r\n<p class=\"2\" align=\"left\">Yuxarıda qeyd olunan xəstəliklər eyni zamanda doguşdan dərhal sonra invaziv müdaxilədə tələb edə bilər. İnvaziv yolla yenidoğulmuşlarda:</p>\r\n<p class=\"2\" align=\"left\">atrial septostomiya (açıq oval dəliyin və ya qulaqcıqarası çəpər defektinin genişləndirilməsi);</p>\r\n<p class=\"2\" align=\"left\">balon valvuloplastika (ürək qapaqlarında olan darlıqların aradan qaldırılması);</p>\r\n<p class=\"2\" align=\"left\">balon anjioplastika (damar darlıqıarının aradan qaldırılması);</p>\r\n<p class=\"2\" align=\"left\">botal axacağa stend yerləşdirilməsi və s.</p>\r\n<p class=\"2\" align=\"left\">Uşaqlarda bəzi  ürək patologiyaları mərhələli kardiocərrahi müdaxilələrlə aradan qaldırılır.  Bu hallarda ilk mərhələ əməliyyatı yenidoğulmuş dövrdə həyata keçirilir (BT şant, ağciyər arteriyasının bandlanması və s.)</p>\r\n<p class=\"2\" align=\"left\">Doğuşa qədər diaqnozu dəqiqləşdirilmiş uşaqların pediatrik kardiologiya və kardiocərrahiyə şöbələri olan mərkəzlərdə dunyaya gəlməsi, onların həyatda qalma şanslarını kəskin artırır.</p>\r\n<p class=\"2\" align=\"left\"><b>Fetal exokardioqrafiya nə zaman edilir</b></p>\r\n<p class=\"2\" align=\"left\">Transabdominal fetal exokardioqrafiya ideal olaraq 18-24 həftələr arasında edilir. Ancaq 16-18 hamiləlik həftələrindən etibarəndə edilə bilər. Transvaqinal yolla fetal exokardioqrafiyanı 12-14 həftələr arasında etmək olar. Hamiləlik yaşı 25 həftədən yuxarı olduqca muayinənin informativliyi azalır.</p>\r\n<p class=\"2\" align=\"left\"><b>Fetal exokardioqrafiyanın informativliyi</b></p>\r\n<p class=\"2\" align=\"left\"><span lang=\"az-Latn-AZ\">Hamiləliyin 18-24 həftələrində dölün ürəyi üzüm giləsi böyüklüyündə (1 sm) olur.  Dölün</span> ana bətnindəki yaşı, pozisiyası, ananın özəllikləri (köklüyü), plasentanın yerləşməsi, ekizlərin olması, dölyanı mayenin miqdarı, istifadə edilən cihazın texniki xüsusiyyətlərinin uyğunluğu, dölün görüntü keyfiyyətinə, dolayısıyla diaqnozun düzgünlük dərəcəsinə təsir edə bilər.</p>\r\nÜrəyin qulaqcıqlar arasındakı kiçik ve orta ölçülü dəliklər, mədəcikər arası kiçik dəliklər, ürək qapaqlarının zəif darlıqları, pulmonar venlərin dönüş anomaliləri, koronar arteriya anomaliyaları, zəif ürək əzələsi xəstəlikləri ve aortanın üst səviyyəsindəki zəif darlıqlar bu müayinə ilə aşkarlanmaya bilər.\r\n\r\nBaşlanğıcda zəif olan bəzi ürək xəstəliklərinin (zəif pulmonar darlıq, zəif aort darlıq, zəif aort koarktasiyası, ürək əzələsi xəstəlikləri) dərəcəsi, böyüyən hamiləlik yaşı ilə arta bilər. Bu səbəbdən belə uşaqların periodik müayinəsi lazım olur.",
                "post_title": "Fetal exokardioqrafiyanın əhəmiyyəti",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "closed",
                "ping_status": "open",
                "post_password": "",
                "post_name": "fetal-exokardioqrafiyanin-ehemiyyeti",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2016-01-25 10:55:42",
                "post_modified_gmt": "2016-01-25 05:55:42",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/?p=5595",
                "menu_order": "1",
                "post_type": "post",
                "post_mime_type": "",
                "comment_count": "0",
                "user_id": "0"
              },
              "url": "http://doctormap.az/post/fetal-exokardioqrafiyanin-ehemiyyeti"
            }
          ]
        }
        
## Get all gifts variants [/gifts]

### Get all gifts variants [GET]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "id": "5743",
              "post_title": "Обследование сердца",
              "gift_unlimited_package": true,
              "gift_personal_package": false
            }
          ]
        }
        
## Posting new messages to the given forum [/forum/write]

### Posting new messages to the given forum [POST]

    + text (String) - required
    + term_taxonomy_id (Integer) - required (ID of the forum theme)

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": 449,
                "text": "test test test"
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## Posting new messages to the "Admin Online" [/online-messages/write]

### Posting new messages to the "Admin Online" [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "text": "test test test"
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## Messages list from "Admin Online" [/online-messages]

### Messages list from "Admin Online" [GET]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "id": "5739",
              "post_content": "Hey let's catch up soon. Do you want to grab lunch sometime this weekend? Let me know when you're free!",
              "post_date": "2016-05-02 23:28:00",
              "user_id": "0",
              "user": {
                "name": "DoctorMap"
              }
            },
            {
              "id": "5738",
              "post_content": "Can't wait to see you!",
              "post_date": "2016-05-02 23:26:24",
              "user_id": "2",
              "user": {
                "id": "2",
                "phone": "+380684466574",
                "name": "Olya",
                "birthday": "1990-03-12",
                "gender": "1",
                "city_id": "1",
                "region_id": "1",
                "card_number": "9483 5118 4635 3417",
                "parent_id": "6",
                "account_type": "0"
              }
            },
            {
              "id": "5740",
              "post_content": "test test",
              "post_date": "2016-05-02 21:55:19",
              "user_id": "2",
              "user": {
                "id": "2",
                "phone": "+380684466574",
                "name": "Olya",
                "birthday": "1990-03-12",
                "gender": "1",
                "city_id": "1",
                "region_id": "1",
                "card_number": "9483 5118 4635 3417",
                "parent_id": "6",
                "account_type": "0"
              }
            }
          ]
        }
        
## Setting user device token [/users/set-device-token]

### Setting user device token and type [POST]

    + device_type (Integer) - required (1-Android,2-iOS)
    + device_token (String) - required

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "device_type": 1,
                "device_token": "KaMO9OCfElmwZATsxjopJCkS6pxWQlb_"
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## Messages list by forum theme [/forum/messages-list-by-forum]

### Messages list by forum theme [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "359"
            }

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                  "id": "5728",
                  "post_content": "Can't wait to see you!",
                  "post_date": "2016-04-30 10:59:57",
                  "user_id": "2",
                  "user": {
                    "id": "2",
                    "phone": "+380684466574",
                    "name": "Olya",
                    "birthday": "1990-03-12",
                    "gender": "1",
                    "city_id": "1",
                    "region_id": "1",
                    "card_number": "9483 5118 4635 3417",
                    "parent_id": "0",
                    "account_type": "0"
                  }
                },
                {
                  "id": "5731",
                  "post_content": "Hey let's catch up soon. Do you want to grab lunch sometime this weekend? Let me know when you're free!",
                  "post_date": "2016-04-30 11:08:08",
                  "user_id": "3",
                  "user": {
                    "id": "3",
                    "phone": " 994501234567",
                    "name": "Test iOS",
                    "birthday": "2000-04-04",
                    "gender": "1",
                    "city_id": "5",
                    "region_id": "0",
                    "card_number": "3485 2330 0067 6638",
                    "parent_id": "0",
                    "account_type": "0"
                  }
                }
              ]
            }

## Get all forum themes [/forum/themes-list]

### Get all forum themes [GET]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "term_taxonomy_id": "449",
              "term_id": "359",
              "count": "0",
              "term": {
                "term_id": "359",
                "name": "Как вам новая клиника Комаровского?"
              }
            },
            {
              "term_taxonomy_id": "450",
              "term_id": "360",
              "count": "0",
              "term": {
                "term_id": "360",
                "name": "Кто был у Савина?"
              }
            }
          ]
        }
        
## Get all adversitements [/adversitements]

### Get all adversitements sorted bt post date DESC [GET]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "id": "5724",
              "post_title": "Объявление 11",
              "post_content": "Объявление 111111",
              "post_date": "2016-04-28 19:44:38",
              "adversitementInstitution": {
                "ID": "5449",
                "post_author": "2",
                "post_date": "2015-11-19 12:19:08",
                "post_date_gmt": "2015-11-19 07:19:08",
                "post_content": "Ünvan: Q.Qarayev pr. 38 A (Q.Qarayev metrosunun yaxınlığında)\r\n\r\nTel: (+994 12) 520 30 40\r\n(+994 77) 250 85 08\r\n(+994 77) 250 85 38\r\n\r\nE-mail: <a href=\"mailto:info@memorialklinik.az\">info@memorialklinik.az</a>",
                "post_title": "Memorial Klinik",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "closed",
                "ping_status": "open",
                "post_password": "",
                "post_name": "memorial-klinik",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2015-11-19 13:05:40",
                "post_modified_gmt": "2015-11-19 08:05:40",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/?post_type=property&#038;p=5449",
                "menu_order": "8",
                "post_type": "property",
                "post_mime_type": "",
                "comment_count": "0"
              },
              "url": "http://doctormap.az/adversitement/obyavlenie-11",
              "image": {
                "width": 1200,
                "height": 424,
                "url": "http://doctormap.az/wp-content/uploads/2016/04/slopesidenewrot-02.jpeg"
              }
            }
          ]
        }

## Promos list by promo category [/promos/promo-list-by-category]

### Promos list by promo category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "344"
            }

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "id": "4866",
              "institution_title": "İMPLANT ART",
              "_promo_price": "0",
              "promo_price_unlimited_package": "0",
              "_promo_discount": "20",
              "promo_discount_unlimited_package": "0",
              "_promo_discount_price": "0",
              "promo_discount_price_unlimited_package": "0",
              "promo_title": "İmplantologiya",
              "promo_description": "Endirim 20%\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
            },
            {
              "id": "5210",
              "institution_title": "İmplant Estetik",
              "_promo_price": "0",
              "promo_price_unlimited_package": "0",
              "_promo_discount": "10",
              "promo_discount_unlimited_package": "0",
              "_promo_discount_price": "0",
              "promo_discount_price_unlimited_package": "0",
              "promo_title": "İmplantologiya",
              "promo_description": "[faq category=\"ID\"][/faq]\r\n10 % Endirim\r\n&nbsp;"
            },
            {
              "id": "5399",
              "institution_title": "32 Beauty",
              "_promo_price": "0",
              "promo_price_unlimited_package": "0",
              "_promo_discount": "20",
              "promo_discount_unlimited_package": "0",
              "_promo_discount_price": "0",
              "promo_discount_price_unlimited_package": "0",
              "promo_title": "İmplantologiya",
              "promo_description": "Endirim 20%\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
            },
            {
              "id": "5499",
              "institution_title": "22 Century",
              "_promo_price": "1",
              "promo_price_unlimited_package": "0",
              "_promo_discount": "20",
              "promo_discount_unlimited_package": "30",
              "_promo_discount_price": "2",
              "promo_discount_price_unlimited_package": "0",
              "promo_title": "İmplantologiya",
              "promo_description": "20 % Endirim"
            }
          ]
        }
        
## Promos list by institution [/institution/promos-list-by-institution]

### Promos list by institution [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "object_id": "5204"
            }

+ Response 200 (application/json)

        {
          "status": 1,
          "data": [
            {
              "category_id": "344",
              "category": "İmplantologiya",
              "count": 4,
              "institution_id": "5204",
              "promo_discount_unlimited_package": "0",
              "_promo_discount": "10"
            },
            {
              "category_id": "346",
              "category": "Ortodontiya",
              "count": 4,
              "institution_id": "5204",
              "promo_discount_unlimited_package": "0",
              "_promo_discount": "10"
            },
            {
              "category_id": "347",
              "category": "Protezləmə",
              "count": 4,
              "institution_id": "5204",
              "promo_discount_unlimited_package": "0",
              "_promo_discount": "15"
            },
            {
              "category_id": "348",
              "category": "Ağız və üz-çənə cərrahiyyəsi",
              "count": 7,
              "institution_id": "5204",
              "promo_discount_unlimited_package": "0",
              "_promo_discount": "20"
            },
            {
              "category_id": "363",
              "category": "Terapevtik",
              "count": 4,
              "institution_id": "5204",
              "promo_discount_unlimited_package": "0",
              "_promo_discount": "20"
            }
          ]
        }
        
## Doctors list by institution [/doctor-spec/doctor-list-by-institution]

### Doctors list by institution [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "object_id": "4015"
            }

+ Response 200 (application/json)

       {
          "status": 1,
          "data": [
            {
              "object_id": "669",
              "post": {
                "id": "669",
                "post_title": "Dr. Firdovsi Məmmədov",
                "post_content": " Dr. Firdovsi Məmmədov - Uroloq \r\n\r\n2006-2007-ci ildə İstanbul Universitetinin Urologiya kafedrası Çapa Tibb fakültəsində Urologiya kursu keçmişdir.\r\n\r\nİş təcrübəsi:\r\n2003-2014 Mərkəzi Klinik Xəstəxanada Urologiya\tbölməsində həkim-uroloq olaraq çalışmışdır.\r\n2015-ci ildən etibarən Avrasiya Klinikasında\tUrologiya şöbəsində Uroloq olaraq fəaliyyət göstərir.\r\n\r\n",
                "doctorSpec": {
                  "term_taxonomy_id": "302",
                  "term_id": "170",
                  "taxonomy": "doctor_spec",
                  "description": "",
                  "parent": "0",
                  "count": "19",
                  "term": {
                    "term_id": "170",
                    "name": "Uroloq",
                    "slug": "uroloq",
                    "term_group": "0",
                    "term_order": "0"
                  }
                },
                "institution": {
                  "ID": "4015",
                  "post_author": "4",
                  "post_date": "2015-02-22 00:24:35",
                  "post_date_gmt": "2015-02-21 19:24:35",
                  "post_content": "Türkiyə, Rusiya və Almaniyada yüksək ixtisas almış həkim kollektivi və gülərüz personalımızla xidmətinizdəyik.\r\n\r\n<strong>Ü:</strong> Ak. Həsən Əliyev küç. 15\r\n<strong>T:</strong> +994 (12) 1116\r\n<strong>E:</strong> hospital@avrasiya.az",
                  "post_title": "Avrasiya Hospital",
                  "post_excerpt": "",
                  "post_status": "publish",
                  "comment_status": "closed",
                  "ping_status": "open",
                  "post_password": "",
                  "post_name": "avrasiya-hospital",
                  "to_ping": "",
                  "pinged": "",
                  "post_modified": "2015-09-30 22:52:54",
                  "post_modified_gmt": "2015-09-30 17:52:54",
                  "post_content_filtered": "",
                  "post_parent": "0",
                  "guid": "http://doctormap.az/institutions/avrasiya-hospital/",
                  "menu_order": "29",
                  "post_type": "property",
                  "post_mime_type": "",
                  "comment_count": "0"
                },
                "_agent_latitude": "40.39806591983419",
                "_agent_longitude": "49.82851659256289",
                "_agent_mobile": "+994 50 614 23 32",
                "_agent_work_experience": "10 il",
                "_agent_education": "1996-2002-ci illərdə ADTU-nin Müalicə İşi fakültəsini bitirib. \r\n2002-2003-cü ildə T. Abbasov adina Onkoloji Dispanserdə internatura keçmişdir.",
                "certificates": [],
                "gallery": [],
                "videos": [],
                "image": {
                  "url": "http://doctormap.az/wp-content/uploads/2014/09/IMG_0128.jpg",
                  "width": 900,
                  "height": 1200
                },
                "city_id": "359",
                "area_id": "111"
              }
            },
            {
              "object_id": "669",
              "post": {
                "id": "669",
                "post_title": "Dr. Firdovsi Məmmədov",
                "post_content": " Dr. Firdovsi Məmmədov - Uroloq \r\n\r\n2006-2007-ci ildə İstanbul Universitetinin Urologiya kafedrası Çapa Tibb fakültəsində Urologiya kursu keçmişdir.\r\n\r\nİş təcrübəsi:\r\n2003-2014 Mərkəzi Klinik Xəstəxanada Urologiya\tbölməsində həkim-uroloq olaraq çalışmışdır.\r\n2015-ci ildən etibarən Avrasiya Klinikasında\tUrologiya şöbəsində Uroloq olaraq fəaliyyət göstərir.\r\n\r\n",
                "doctorSpec": {
                  "term_taxonomy_id": "302",
                  "term_id": "170",
                  "taxonomy": "doctor_spec",
                  "description": "",
                  "parent": "0",
                  "count": "19",
                  "term": {
                    "term_id": "170",
                    "name": "Uroloq",
                    "slug": "uroloq",
                    "term_group": "0",
                    "term_order": "0"
                  }
                },
                "institution": {
                  "ID": "4015",
                  "post_author": "4",
                  "post_date": "2015-02-22 00:24:35",
                  "post_date_gmt": "2015-02-21 19:24:35",
                  "post_content": "Türkiyə, Rusiya və Almaniyada yüksək ixtisas almış həkim kollektivi və gülərüz personalımızla xidmətinizdəyik.\r\n\r\n<strong>Ü:</strong> Ak. Həsən Əliyev küç. 15\r\n<strong>T:</strong> +994 (12) 1116\r\n<strong>E:</strong> hospital@avrasiya.az",
                  "post_title": "Avrasiya Hospital",
                  "post_excerpt": "",
                  "post_status": "publish",
                  "comment_status": "closed",
                  "ping_status": "open",
                  "post_password": "",
                  "post_name": "avrasiya-hospital",
                  "to_ping": "",
                  "pinged": "",
                  "post_modified": "2015-09-30 22:52:54",
                  "post_modified_gmt": "2015-09-30 17:52:54",
                  "post_content_filtered": "",
                  "post_parent": "0",
                  "guid": "http://doctormap.az/institutions/avrasiya-hospital/",
                  "menu_order": "29",
                  "post_type": "property",
                  "post_mime_type": "",
                  "comment_count": "0"
                },
                "_agent_latitude": "40.39806591983419",
                "_agent_longitude": "49.82851659256289",
                "_agent_mobile": "+994 50 614 23 32",
                "_agent_work_experience": "10 il",
                "_agent_education": "1996-2002-ci illərdə ADTU-nin Müalicə İşi fakültəsini bitirib. \r\n2002-2003-cü ildə T. Abbasov adina Onkoloji Dispanserdə internatura keçmişdir.",
                "certificates": [],
                "gallery": [],
                "videos": [],
                "image": {
                  "url": "http://doctormap.az/wp-content/uploads/2014/09/IMG_0128.jpg",
                  "width": 900,
                  "height": 1200
                },
                "city_id": "359",
                "area_id": "111"
              }
            }
          ]
        }
        
## Get all items of the category [/categories/get-list-by-category]

### Get all items of the specified category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "1"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                "Klinikalar": [
                  {
                    "category": "Klinikalar",
                    "category_id": "348",
                    "promo_category": "Ağız və üz-çənə cərrahiyyəsi",
                    "count": "7",
                    "discount": "25",
                    "discount_unlimited_package": null,
                    "institution_id": "5495"
                  },
                  {
                    "category": "Klinikalar",
                    "category_id": "338",
                    "promo_category": "Check-up",
                    "count": "31",
                    "discount": "50",
                    "discount_unlimited_package": null,
                    "institution_id": "4172"
                  },
                ],
                "Fitness &amp; SPA": [
                  {
                    "category": "Fitness &amp; SPA",
                    "category_id": "366",
                    "promo_category": "Badminton",
                    "count": "1",
                    "discount": "10",
                    "discount_unlimited_package": null,
                    "institution_id": "5242"
                  },
                  {
                    "category": "Fitness &amp; SPA",
                    "category_id": "362",
                    "promo_category": "Doyüş növləri",
                    "count": "4",
                    "discount": "10",
                    "discount_unlimited_package": null,
                    "institution_id": "5242"
                  },
                ]
            ]
        }



+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "2"
            }

+ Response 200 (application/json)
            {
              "status": 1,
              "data": [
                {
                  "promo_category": "Check-up",
                  "count": "13",
                  "reg_price": "320",
                  "sale_price": "240",
                  "reg_price_unlimited": null,
                  "sale_price_unlimited": null
                }
              ]
            }
            


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "5"
            }

+ Response 200 (application/json)
            {
              "status": 1,
              "data": [
                {
                    "post_title": "Şirinə qarşı meyliliyə üstün gəlmək  ",
                    "post_content": "Kiçik porsiyalarla müntəzəm qida qəbulu şirniyyata olan meyliliyin qarşısını almağa kömək edir. Bu metod qanda olan şəkərin qalxmasının qarşısını almağa köməklik edir. Əgər şəkərsiz heç cür qala bilmirsinizsə, bu zaman şəkər tərkibli tərəvəzləri meyvələrlə əvəz edin. <!--more-->\r\nŞirniyyata olan meylliyiniz Sizin qida rasionunuzda tərəvəzlərin seçiminizə təsir etməməlidir. Bəzi kiçik həcmli qida porsiyaları var ki, onlar Sizi gün ərzində tox saxlayır və şəkər tərkibli bir şeylər yeməyinizin qarşısını alır.  Qida rasionunuz zəngin proteinli və sağlam yağlı kiçik porsiyalardan ibarət olmalıdır. Bununla yanaşı buraya tərəvəz, quru meyvə, üzüm və çərəz əlavə olunmalıdır. Bu pəhriz Sizə gün ərzində güclü qalmağınıza kömək edəcək.\r\n\r\nŞirniyyata olan meylliliyinizin qarşısını ala bilməyən zaman keyfiyyətli qida rasionundan istifadə edin. Əsl tünd qara şokoladın orqanizmə heç bir ziyanı yoxdur. Çalışın şokoladı asta və dadını hiss edərək yeyin.",
                    "author": {
                      "ID": "5520",
                      "post_author": "3",
                      "post_date": "2015-12-02 14:41:02",
                      "post_date_gmt": "2015-12-02 09:41:02",
                      "post_content": "Dr. Elşən Rzayev -pediatrik invaziv kardioloq\r\n2004-2005-ci illərdə silahlı quvvələrdə həkim.\r\n2005-2012-ci illərdə dövlət və özəl tibb müəssisələrində kardioloq.\r\nHal-hazırda Gömrük hospitalda və Real hospitalda invaziv pediatrik kardioloq.\r\nFetal dövrdən başlayaraq uşaqlarda anadangəlmə və qazanılmış ürək xəstəliklərinin invaziv və non-invaziv metodlarla diaqnostika və müalicəsi.\r\n",
                      "post_title": "Dr. Elşən Rzayev",
                      "post_excerpt": "",
                      "post_status": "publish",
                      "comment_status": "closed",
                      "ping_status": "open",
                      "post_password": "",
                      "post_name": "dr-elsen-rzayev",
                      "to_ping": "",
                      "pinged": "",
                      "post_modified": "2016-01-22 18:00:14",
                      "post_modified_gmt": "2016-01-22 13:00:14",
                      "post_content_filtered": "",
                      "post_parent": "0",
                      "guid": "http://doctormap.az/hekimler/dr-elsen-rzayev/",
                      "menu_order": "5",
                      "post_type": "agent",
                      "post_mime_type": "",
                      "comment_count": "0"
                    },
                    "image": {
                      "width": 500,
                      "height": 400,
                      "url": "http://doctormap.az/wp-content/uploads/2014/12/0141-500x400.jpg"
                    }
                },
                {
                    "post_title": "Elektron siqaretlərin sağlamlığa olan potensial zərərləri haqqında",
                    "post_content": "Bu məqalə Ümumdünya Səhiyyə təşkilatı tərəfindən nikotin tərkibli elektron siqaretlərə qoyulan qadağa ilə bağlı qərarlarına əsasən dərc olunmuşdur.\r\n\r\nHeç kim, elektron siqaretlərin zərrəsiz olduğunu bilmir. Reklamlarda elektron siqaretlərin insanlara siqaret çəkməyi tərgitməyinə köməklik etdiyi deyilir. Lakin heç bir araşdırma bu fikri təsdiq etməyib.\r\n\r\nElektron siqaretlər adi siqaret və ya siqar kimidirlər. <!--more-->Bu cihazların qələmə oxşar forması var. Cihaz batareya ilə işləyir. İçərisində xüsusi isidicisi, nikatın və digər kimyəvi maddələr olan katrici var. Bununla yanaşı cihaz alışan kimyəvi maddələri tüstü halına çevirən spreylə təchiz olunub.\r\n\r\nKimin, nəyinə lazımdır elektron siqaret çəkmək? Adi siqaretlərin tərkibində istifadəçilərdə asılılıq yaradan nikatın olur. Eyni zamanda siqaretin tərkibində orqanizmə düşən zaman onkoloji xəstəliklərin yaranmasına səbəb ola biləcək qatran olur. Elektron siqaret tərəfdarları əmin edirlər ki, cihaz sağlamlığa heç bir zərər vermədən siqaret çəkməyə imkan verir.\r\n\r\nElektron siqaret istifadəçisi siqaret çəkən zaman nikotin, su və propilen qlikol məhlulu udur. Nikotin iyi əvvəllər siqaret çəkən bəzi insanlarda yenidən adi siqaret çəkmək arzusu yaradır. Elektron siqaretdən istifadə edən insan qatran, adi siqaretdə olan dəm qazı və başqa maddələr udmur. Bu səbəbdən elektron siqaret istifadəçisi nikotindən zövq alarkən xərçəng xəstəliyinə tutulma qorxusu ilə üz-üzə qalmır.\r\n\r\nAldanmayın. Elektron siqaretlərə ehtiyatla yanaşmaq lazımdır. Əvvəla hər nəfəsdə aldığınız nikotin fərqli ola bilər. Nikotin – çox orqanların fəaliyyətini stimullaşdırır və nikotinin yüksək dozası ürəyin ritmini poza bilər. Hazırda elektron siqaretlərin ürək ritminin pozmasına dair heç bir dəlil yoxdur.\r\n\r\nİkincisi, elektron siqaretlərin tərkibində bir çox kimyəvi spektrlər var. Bu maddələrə yüksək zəhərli dietilenqlikolun qlikol, yüksək kanserogen Formaldehid və insan orqanizminə zərər verən daha 4 zərərli maddələr daxildir.\r\n\r\nHələ ki, elektron siqaretlərin adi siqaretlər kimi xərçəng xəstəliyi yaratmasına dair heç bir dəlil yoxdur. Bu da elektron siqaretlərlə bağlı uzunmüddətli tədqiqatların aparılmadığından irəli gəlir.\r\n\r\nÜçüncüsü elektron siqaretlər siqaret çəkmə prosesini təqlid etmək üçün ixtira olunub. Sırf bu səbəbdən siqareti tərgitmiş insanda yenidən əvvəlki adətinə qayıtmaq həvəsi yarana bilər. Elektron siqaret heç vaxt siqaret çəkməyən cavan insanlar üçün adi siqaretdən istifadəyə keçməyə ilk addım ola bilər. Tibbi cəhətdən elektron siqaretin zərərləri haqqında geniş sübut və dəlillər olmadan istifadəçilərə ehtiyatlı olmaları tövsiyə olunur.",
                    "author": {
                      "ID": "2363",
                      "post_author": "4",
                      "post_date": "2014-11-28 21:44:15",
                      "post_date_gmt": "2014-11-28 16:44:15",
                      "post_content": "Uzm. Dr. Altay Abdullaoğlu - Pediatr\r\n\r\n2012-2014-cü illərdə İstanbul ''Özel Memorial Hizmet'' xəstəxanasında uzman pediatr olaraq,\r\n2014-cü ildə ''Özel Bağcılar'' xəstəxanasında neonatologiya şöbəsinin rəhbəri olaraq çalışmışdır.\r\n\r\nMüxtəlif illərdə Türkiyədə təşkil olunmuş bir çox konfrans və kurslarda iştirak etmışdir.\r\n\r\n2014-cü ilin oktyabr ayından etibarən Oksigen Klinik xəstəxanasında pediatriya və neonatologiya söbəsinin rəhbəri olaraq fəaliyyətini davam etdirir. \r\nİş qrafiki: Hər gün saat 9:00 dan 18:00 kimi\r\nİstirahət günü: Bazar\r\n\r\nwww.facebook.com/UzmDr.ALTAY.Abdullaoglu\r\n\r\n*Uzman həkim ALTAY ABDULLAOĞLU-nun qəbuluna gələnlərin nəzərinə...\r\nXahiş olunur müayinəyə gəlməmişdən öncə qəbula yazılasınız.\r\nQəbul üçün aşağıdakı telefon nömrəsi ilə əlaqə saxlayın və müayinə üçün vaxt götürün.\r\nTel: 050 444 44 02\r\n\r\n",
                      "post_title": "Uzm. Dr. Altay Abdullaoğlu",
                      "post_excerpt": "",
                      "post_status": "publish",
                      "comment_status": "closed",
                      "ping_status": "open",
                      "post_password": "",
                      "post_name": "uzm-dr-altay-abdullaoglu",
                      "to_ping": "",
                      "pinged": "",
                      "post_modified": "2015-04-09 13:52:50",
                      "post_modified_gmt": "2015-04-09 08:52:50",
                      "post_content_filtered": "",
                      "post_parent": "0",
                      "guid": "http://doctormap.az/doctors/uzm-dr-altay-abdullaoglu/",
                      "menu_order": "94",
                      "post_type": "agent",
                      "post_mime_type": "",
                      "comment_count": "0"
                    },
                    "image": null
                }
              ]
            }
        
## All Categories Collection [/categories]

### Get all categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
                "status": 1,
                "data": [
                    {
                      "id": 1,
                      "name": "Скидки",
                      "count": 201
                    },
                    {
                      "id": 2,
                      "name": "Акции",
                      "count": 7
                    },
                    {
                      "id": 3,
                      "name": "Подарки",
                      "count": 2
                    },
                    {
                      "id": 4,
                      "name": "Объявления",
                      "count": 0
                    },
                    {
                      "id": 5,
                      "name": "Статьи",
                      "count": 24
                    },
                    {
                      "id": 6,
                      "name": "Forum",
                      "count": 58
                    },
                    {
                      "id": 7,
                      "name": "Administrator online",
                      "count": 3
                    }
                ]
            }
        
## Institutions list by type [/institution/institution-list-by-type]

### Institutions list by type [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "172"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                        {
                          "object_id": "5204",
                          "post": {
                            "id": "5204",
                            "post_title": "İmplant Estetik",
                            "post_content": "Sumqayit sheh, 6-ci mkr. C.Memmedquluzade kuch,AZ5000 (H.Eliyev parkinin yax-da), AZ5000 Sumqayyt, Azerbaijan",
                            "_property_address": "Sumqayit sheh, 6-ci mkr.",
                            "_property_latitude": "40.57989042788332",
                            "_property_longitude": "49.685871352732875",
                            "property_phone": "",
                            "property_email": "",
                            "property_website": "",
                            "doctor_specs": [
                              {
                                "term_taxonomy_id": "320",
                                "name": "Ağız və üz-çənə cərrahı"
                              }
                            ],
                            "image": {
                              "url": "http://doctormap.az/wp-content/uploads/2015/09/1357546465_rrr-ryorrrryo-1.jpg",
                              "width": 598,
                              "height": 302
                            },
                            "promos_count": 9,
                            "city_id": "360",
                            "area_id": null,
                          }
                        },
                        {
                          "object_id": "668",
                          "post": {
                            "id": "668",
                            "post_title": "Tusi Klinika",
                            "post_content": "<strong>N. Tusi adına Klinika</strong> geniş profilli müalicə - diaqnostika müəssisəsi olub poliklinika və stasionar şöbələrindən ibarətdir. Klinikanın instrumental diaqnostika bölməsi ən müasir tibbi avadanlıqlarla təchiz olunmuşdur.\r\n\r\n<b>Ünvan:</b> Zərdabi küç. 53,\r\nBakı, Azərbaycan, AZ1009\r\n<b>Tel:</b> 431 35 31 | 433 66 84/87/89/91\r\n<b>Faks:</b> 430-85-27",
                            "_property_latitude": "40.39877698421234",
                            "_property_longitude": "49.805221832263214",
                            "_property_location_search": "Həsən bəy Zərdabi Küçəsi, Bakı, Azərbaycan",
                            "property_phone": "",
                            "property_email": "",
                            "property_website": "",
                            "doctor_specs": [
                              {
                                "term_taxonomy_id": "308",
                                "name": "Ümumi Cərrah"
                              },
                              {
                                "term_taxonomy_id": "299",
                                "name": "Travmatoloq-Ortoped"
                              },
                              {
                                "term_taxonomy_id": "260",
                                "name": "Endokrinoloq"
                              },
                              {
                                "term_taxonomy_id": "302",
                                "name": "Uroloq"
                              }
                            ],
                            "image": {
                              "url": "http://doctormap.az/wp-content/uploads/2014/09/photo_1_34a0d403db701bce7132a9bcf5e2379a.jpg",
                              "width": 412,
                              "height": 201
                            },
                            "promos_count": 18,
                            "city_id": "359",
                            "area_id": null,
                          }
                        }
            ]
        }
        
## Institution Types Collection [/institution/all-institution-types]

### Get all institution types [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                      "term_taxonomy_id": "172",
                      "term_id": "141",
                      "count": "23",
                      "term": {
                        "term_id": "141",
                        "name": "Klinikalar"
                      }
                    },
                    {
                      "term_taxonomy_id": "174",
                      "term_id": "143",
                      "count": "0",
                      "term": {
                        "term_id": "143",
                        "name": "Apteklər"
                      }
                    },
                    {
                      "term_taxonomy_id": "350",
                      "term_id": "260",
                      "count": "8",
                      "term": {
                        "term_id": "260",
                        "name": "Fitness &amp; SPA"
                      }
                    }
              ]
            }
        
## Doctors list by category [/doctor-spec/doctor-list-by-category]

### Doctors list by category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "259"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                 {
                      "object_id": "5313",
                      "post": {
                        "id": "5313",
                        "post_title": "Liman Klinikası",
                        "post_content": "Sumqayıt şəhəri, 6cı mkr, Səməd Vurğun küçəsi, 35A,\r\n\r\n(+994 12) 448 06 00;\r\n\r\n(+994 18) 642 02 09;\r\n\r\n(+994 50) 235 24 34\r\n\r\n<a href=\"http://www.liman-clinic.az/\" target=\"_blank\" rel=\"nofollow\">http://www.liman-clinic.az</a>",
                        "doctorSpec": {
                          "term_taxonomy_id": "309",
                          "term_id": "219",
                          "taxonomy": "doctor_spec",
                          "description": "",
                          "parent": "0",
                          "count": "7",
                          "term": {
                            "term_id": "219",
                            "name": "Ürək-damar cərrahı",
                            "slug": "urek-damar-cerrahi",
                            "term_group": "0",
                            "term_order": "0"
                          }
                        },
                        "institution": {
                          "ID": "296",
                          "post_author": "4",
                          "post_date": "2014-08-05 17:24:35",
                          "post_date_gmt": "2014-08-05 13:24:35",
                          "post_content": "MKX",
                          "post_title": "Mərkəzi Klinik Xəstəxana",
                          "post_excerpt": "",
                          "post_status": "draft",
                          "comment_status": "open",
                          "ping_status": "open",
                          "post_password": "",
                          "post_name": "merkezi-klinik-xestexana",
                          "to_ping": "",
                          "pinged": "",
                          "post_modified": "2016-03-02 11:02:43",
                          "post_modified_gmt": "2016-03-02 06:02:43",
                          "post_content_filtered": "",
                          "post_parent": "0",
                          "guid": "http://doctormap.az/?post_type=property&#038;p=296",
                          "menu_order": "81",
                          "post_type": "property",
                          "post_mime_type": "",
                          "comment_count": "0"
                        },
                        "_agent_mobile": "+99450 304 04 44",
                        "_agent_work_experience": "6-il",
                        "_agent_phone": "",
                        "_agent_email": "kamal_cumsudov@hotmail.com",
                        "_agent_home_visit": "",
                        "_agent_latitude": "40.36128384860239",
                        "_agent_longitude": "49.82483660179446",
                        "_agent_education": "2001-2007-ci illərdə Azərbaycan Tibb Universiteti I Müalicə-Profilaktika fakültəsində təhsil almışdır.",
                        "_agent_website": "",
                        "_agent_facebook": "",
                        "_agent_linkedin": "",
                        "_agent_twitter": "",
                        "_agent_youtube": "",
                        "additional_info": "",
                        "city_id": "359",
                        "area_id": "117",
                        "videos": [
                            "https://www.youtube.com/watch?v=yqo92wmF_Ls"
                        ],
                        "certificates": [
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10488176_316666301824929_8026981866422964557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10449186_314094475415445_4570812400311770055_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10367741_306546489503577_5272462520217456557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10341550_305648869593339_5528996788490706615_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10308089_301497403341819_8280322067291767834_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10177357_301168000041426_6137185697050510874_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10269388_300094980148728_5194020695315905090_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10150589_297753077049585_3974328174328400966_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10170708_297753073716252_5878654607218489690_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10325739_297753063716253_6356779054090222761_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1969410_297047457120147_5639010480333879685_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10270346_297047453786814_4924431329339296977_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273778_297047427120150_2419293876200604620_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273564_297047397120153_3476588789328110913_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10298730_297047380453488_8747410331276150788_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1544507_295735887251304_2079292106539006956_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10152665_295355180622708_5166333984765532273_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10155661_295355130622713_3837667729798873635_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10169414_295289827295910_3237119576304261015_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10156035_293027940855432_8290257741146421485_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10014533_291801070978119_7970355862594713313_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10007536_288527597972133_1446156544_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1939465_285199564971603_1075569059_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1947780_285199058304987_1489392857_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/14521_285199044971655_1702553910_n.jpg"
                          }
                        ],
                        "gallery": [
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0153.jpg",
                            "id": 5652
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0145.jpg",
                            "id": 5653
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0121.jpg",
                            "id": 5654
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0160.jpg",
                            "id": 5655
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0090.jpg",
                            "id": 5656
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0118.jpg",
                            "id": 5657
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0144.jpg",
                            "id": 5658
                          }
                        ],
                        "image": {
                          "url": "http://doctormap.az/wp-content/uploads/2015/10/333.jpg",
                          "width": 494,
                          "height": 358
                        }
                      }
                    },
                    {
                      "object_id": "5325",
                      "post": {
                        "id": "5325",
                        "post_title": "İNTERMED diaqnostika mərkəzi",
                        "post_content": "Heydər Əliyev pr., 40-cı məhəllə",
                        "doctorSpec": {
                          "term_taxonomy_id": "309",
                          "term_id": "219",
                          "taxonomy": "doctor_spec",
                          "description": "",
                          "parent": "0",
                          "count": "7",
                          "term": {
                            "term_id": "219",
                            "name": "Ürək-damar cərrahı",
                            "slug": "urek-damar-cerrahi",
                            "term_group": "0",
                            "term_order": "0"
                          }
                        },
                        "institution": {
                          "ID": "4937",
                          "post_author": "2",
                          "post_date": "2015-06-11 18:24:54",
                          "post_date_gmt": "2015-06-11 13:24:54",
                          "post_content": "Unvan:Bakı ş. Badamdar qəs. Məktəbli küç. 1, MTN Hərbi Hospitalı\r\nTel: (+99412) 405 73 00\r\n(+99412) 405 73 99\r\nFaks:(+99412) 405 73 53",
                          "post_title": "MTN Hospital",
                          "post_excerpt": "",
                          "post_status": "publish",
                          "comment_status": "closed",
                          "ping_status": "open",
                          "post_password": "",
                          "post_name": "mtn-hospital",
                          "to_ping": "",
                          "pinged": "",
                          "post_modified": "2015-09-30 22:52:53",
                          "post_modified_gmt": "2015-09-30 17:52:53",
                          "post_content_filtered": "",
                          "post_parent": "0",
                          "guid": "http://doctormap.az/?post_type=property&#038;p=4937",
                          "menu_order": "25",
                          "post_type": "property",
                          "post_mime_type": "",
                          "comment_count": "0"
                        },
                        "_agent_mobile": "+99450 306 77 30",
                        "_agent_work_experience": "6-il",
                        "_agent_phone": "",
                        "_agent_email": "kazimovfz@gmail.com",
                        "_agent_home_visit": "",
                        "_agent_latitude": "40.3388475968573",
                        "_agent_longitude": "49.80312143760989",
                        "_agent_education": "1992-1998-ci illərdə \tN.Nərimanov adına Azərbaycan Tibb Universiteti, müalicə-profilaktika fakültəsini bitirmişdir.\r\n2000-2002-ci ilərdə\tAnkara Yüksek İhtisas  Eğitim ve Araştırma Hastanesi, İstanbul, Türkiyə\r\nÜrək və Damar Cərrahiyyəsındən Rezidentura\r\n\r\n2002-2004-cü illərdə\tİstanbul Koşuyolu Kalp Eğitim ve Araştırma Hastanesi, İstanbul, Türkiyə\r\nÜrək və Damar Cərrahiyyəsındən Rezidentura\r\n\r\n2012-ci ildə\tESCVS, Paul Sergeant Beating Heart  CABG Master Class \r\n",
                        "_agent_website": "",
                        "_agent_facebook": "",
                        "_agent_linkedin": "",
                        "_agent_twitter": "",
                        "_agent_youtube": "",
                        "additional_info": "",
                        "city_id": "359",
                        "area_id": "103",
                        "videos": [],
                        "certificates": [
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10488176_316666301824929_8026981866422964557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10449186_314094475415445_4570812400311770055_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10367741_306546489503577_5272462520217456557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10341550_305648869593339_5528996788490706615_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10308089_301497403341819_8280322067291767834_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10177357_301168000041426_6137185697050510874_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10269388_300094980148728_5194020695315905090_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10150589_297753077049585_3974328174328400966_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10170708_297753073716252_5878654607218489690_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10325739_297753063716253_6356779054090222761_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1969410_297047457120147_5639010480333879685_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10270346_297047453786814_4924431329339296977_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273778_297047427120150_2419293876200604620_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273564_297047397120153_3476588789328110913_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10298730_297047380453488_8747410331276150788_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1544507_295735887251304_2079292106539006956_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10152665_295355180622708_5166333984765532273_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10155661_295355130622713_3837667729798873635_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10169414_295289827295910_3237119576304261015_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10156035_293027940855432_8290257741146421485_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10014533_291801070978119_7970355862594713313_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10007536_288527597972133_1446156544_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1939465_285199564971603_1075569059_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1947780_285199058304987_1489392857_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/14521_285199044971655_1702553910_n.jpg"
                          }
                        ],
                        "gallery": [],
                        "image": {
                          "url": "http://doctormap.az/wp-content/uploads/2015/10/555.jpg",
                          "width": 494,
                          "height": 358
                        }
                      }
                    },
            ]
        }
        
## List of promos by category [/promo-categories/promo-list-by-category]

### List of promos by category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "344"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                {
                  "id": "5399",
                  "post_date": "2015-11-02 20:45:32",
                  "post_content": "<h3><span style=\"color: #ff0000;\"><strong>Endirim 20%</strong></span></h3>\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
                },
                {
                  "id": "4866",
                  "post_date": "2015-05-20 20:01:41",
                  "post_content": "<h3><span style=\"color: #ff0000;\"><strong>Endirim 20%</strong></span></h3>\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
                },
            ]
        }
        
## Add member to the user [/users/add-member]

### Add member to the user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional
    + promo_code (String) - optional

+ Request (application/json)

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1,
                "promo_code": ""
            }

+ Response 200 (application/json)

        {
            "status": 1
        }

## SMS API [/sms]
+ action (Number) - required

            1 - invite_friend
            2 - check_code

### Invite friend by SMS [POST]

+ Request (application/json)

        {
            "action": "1",
            "phone": "+380681234567"
        }

+ Response 200 (application/json)

            {
                "status": 1
            }

### Check user SMS code [POST]

+ Request (application/json)

        {
            "action": "2",
            "phone": "+380684466574",
            "code": "12-12-12"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "authorization": "jopJCkS6pxWQlb_KaMO9OCfElmwZATsx"
            }
        }
        
## Users Collection [/users]

### Get user info [GET]

    + account_type:
        1 - limited package
        2 - unlimited package (owner)
        3 - unlimited package (member)


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "id": "123",
                "phone": "+380681234567",
                "name": "Test User",
                "birthdate": "1990-01-01",
                "gender": 1,
                "city_id": 1,
                "region_id": 1,
                "account_type": "1",
                "card_number": "1234-1234-1234-1234",
                "members": [
                    {
                        "id": "111",
                        "phone": "+380671234567",
                        "name": "Test User1",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    },
                    {
                        "id": "222",
                        "phone": "+380691234567",
                        "name": "Test User2",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    }
                ],
                "settings": [
                  {
                    "id": "1",
                    "user_id": "3",
                    "setting_type": "news_gift",
                    "setting_value": "1"
                  },
                  {
                    "id": "2",
                    "user_id": "3",
                    "setting_type": "news_adversitement",
                    "setting_value": "1"
                  },
                  {
                    "id": "3",
                    "user_id": "3",
                    "setting_type": "news_post",
                    "setting_value": "1"
                  },
                  {
                    "id": "4",
                    "user_id": "3",
                    "setting_type": "push_general_notifications",
                    "setting_value": "1"
                  }
                ]
            }
        }
        
## Promo Categories Collection [/promo-categories]

### Get all categories [GET]

+ Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

             {
              "status": 1,
              "data": [
                {
                  "id": "1",
                  "name": "Endirimler",
                  "count": 20
                },
                {
                  "id": "2",
                  "name": "Aksiyalar",
                  "count": 20
                },
                {
                  "id": "3",
                  "name": "Hədiyyələr",
                  "count": 20
                },
                {
                  "id": "4",
                  "name": "Elanlar",
                  "count": 20
                },
                {
                  "id": "5",
                  "name": "Məqalələr",
                  "count": 20
                },
                {
                  "id": "6",
                  "name": "Forum",
                  "count": 20
                },
                {
                  "id": "7",
                  "name": "Administrator online",
                  "count": 20
                }
              ]
            }

## Doctor's Categories Collection [/doctor-spec]

### Get all doctor's categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                  "term_taxonomy_id": "251",
                  "term_id": "146",
                  "count": "0",
                  "term": {
                    "term_id": "146",
                    "name": "Allerqoloq"
                  }
                },
                {
                  "term_taxonomy_id": "258",
                  "term_id": "183",
                  "count": "7",
                  "term": {
                    "term_id": "183",
                    "name": "Dermatoveneroloq"
                  }
                },
                {
                  "term_taxonomy_id": "259",
                  "term_id": "150",
                  "count": "2",
                  "term": {
                    "term_id": "150",
                    "name": "Dietoloq"
                  }
                }
              ]
            }