FORMAT: 1A
HOST: http://doctormap.dragan.com.ua/
 
# DoctorMap API

Debug API URL: 

http://doctormap.dragan.com.ua/

        + /doctor-spec
        + /sms (action 1 and 2)
        + /users/sign-in
        + /users (get user by authorization)
        + /users/register
        + /promo-categories ??
        + /posts (события)
        + /users/set-account-type
        + /users/add-member
        + /promo-categories/promo-list-by-category ??
        + /doctor-spec/doctor-list-by-category
        + /institution/all-institution-types (типы учреждений)
        + /institution/institution-list-by-type (список учреждений по типу)
        + /categories
        + /categories/get-list-by-category

Production API URL: 

http://api.doctormap.az/v1/ - це заглушка, в майбутньому тут буде справжня адреса

## Status Code

        1 - success
        2 - general error
        3 - access 
        
## Get all items of the category [/categories/get-list-by-category]

### Get all items of the specified category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "1",
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                "Klinikalar": [
                  {
                    "category": "Klinikalar",
                    "promo_category": "Ağız və üz-çənə cərrahiyyəsi",
                    "count": "7",
                    "discount": "25"
                  },
                  {
                    "category": "Klinikalar",
                    "promo_category": "Check-up",
                    "count": "31",
                    "discount": "50"
                  },
                ],
                "Fitness &amp; SPA": [
                  {
                    "category": "Fitness &amp; SPA",
                    "promo_category": "Badminton",
                    "count": "1",
                    "discount": "10"
                  },
                  {
                    "category": "Fitness &amp; SPA",
                    "promo_category": "Doyüş növləri",
                    "count": "4",
                    "discount": "10"
                  }
                ]
            ]
        }



+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "2",
            }

+ Response 200 (application/json)
            {
              "status": 1,
              "data": [
                {
                  "promo_category": "Check-up",
                  "count": "13",
                  "reg_price": "320",
                  "sale_price": "240"
                }
              ]
            }
            


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "5",
            }

+ Response 200 (application/json)
            {
              "status": 1,
              "data": [
                {
                  "object_id": "3215",
                  "post": {
                    "id": "3215",
                    "post_title": "\"Yeni ilə baş ağrısı ilə girmək\"",
                    "post_content": "Son zamanlar mənə zəng edən və sms yazan pasientlərlə söhbətimizin mətni “ Doktor, yeni il bayramını yola verək, doyunca yeyək, bayramdan sonra qəbulunuza gəlmək istəyirik” - olur. ",
                    "post_date": "2014-12-27 19:46:07",
                    "image_url": null
                  }
                },
                {
                  "object_id": "2399",
                  "post": {
                    "id": "2399",
                    "post_title": "Baş ağrılarından qurtulmanın 4 üsulu ",
                    "post_content": "Bu üsul bəzi xəstələrə miqrenlə mübarizə etməkdə belə köməklik edir.\r\n\r\n<strong>Həkiminizdən yeni müalicə üsulları haqqında məlumatlar əldə edin. </strong>\r\n\r\nBaş ağrılarının müalicə olunmasına dair mütəmadi olaraq yeni müalicə üsulları yaranır. Məsələn bu il baş ağrılarının qarşısını almaq üçün xüsusi plastırların satışının başlanması planlaşdırılır. Bu cihaz elektronikanın köməyi ilə bədənə xüsusi dərmanlar ötürür. Cihaz ürəkbulanması ilə miqrendən əziyyət çəkən insanların müalicəsi üçün nəzərdə tutulub.",
                    "post_date": "2014-12-02 18:18:27",
                    "image_url": "http://doctormap.az/wp-content/uploads/2014/12/img_da43acdaaad764eb9af97e3698847236_1_1-500x399.jpg"
                }
               }
              ]
            }
        
## All Categories Collection [/categories]

### Get all categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
                "status": 1,
                "data": [
                    {
                      "id": 1,
                      "name": "Скидки",
                      "count": 201
                    },
                    {
                      "id": 2,
                      "name": "Акции",
                      "count": 7
                    },
                    {
                      "id": 3,
                      "name": "Подарки",
                      "count": 2
                    },
                    {
                      "id": 4,
                      "name": "Объявления",
                      "count": 0
                    },
                    {
                      "id": 5,
                      "name": "Статьи",
                      "count": 24
                    },
                    {
                      "id": 6,
                      "name": "Forum",
                      "count": 58
                    },
                    {
                      "id": 7,
                      "name": "Administrator online",
                      "count": 3
                    }
                ]
            }
        
## Institutions list by type [/institution/institution-list-by-type]

### Institutions list by type [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "172",
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                {
                      "object_id": "547",
                      "post": {
                        "id": "547",
                        "post_title": "Caspian International Hospital",
                        "post_content": "T",
                        "metadata": [
                          {
                            "meta_id": "2528",
                            "post_id": "547",
                            "meta_key": "_property_location_search",
                            "meta_value": "Badamdar, Bakı, Azərbaycan"
                          },
                          {
                            "meta_id": "2529",
                            "post_id": "547",
                            "meta_key": "_property_latitude",
                            "meta_value": "40.343581821853775"
                          },
                          {
                            "meta_id": "2530",
                            "post_id": "547",
                            "meta_key": "_property_longitude",
                            "meta_value": "49.810154640258816"
                          },
                          {
                            "meta_id": "2540",
                            "post_id": "547",
                            "meta_key": "_property_meta_fields",
                            "meta_value": "a:3:{i:0;s:25:\"_property_location_search\";i:1;s:18:\"_property_latitude\";i:2;s:19:\"_property_longitude\";}"
                          },
                          {
                            "meta_id": "2532",
                            "post_id": "547",
                            "meta_key": "_property_slides",
                            "meta_value": "a:0:{}"
                          },
                          {
                            "meta_id": "2543",
                            "post_id": "547",
                            "meta_key": "_thumbnail_id",
                            "meta_value": "549"
                          }
                        ],
                        "image_url": "http://doctormap.az/wp-content/uploads/2014/08/20140826_120205-500x400.jpg"
                      }
                    },
                    {
                      "object_id": "604",
                      "post": {
                        "id": "604",
                        "post_title": "Grand Hospital",
                        "post_content": "Tm",
                        "metadata": [
                          {
                            "meta_id": "3149",
                            "post_id": "604",
                            "meta_key": "_property_latitude",
                            "meta_value": "40.39907498808761"
                          },
                          {
                            "meta_id": "3148",
                            "post_id": "604",
                            "meta_key": "_property_location_search",
                            "meta_value": "H.Əliyev küçəsi"
                          },
                          {
                            "meta_id": "5675",
                            "post_id": "604",
                            "meta_key": "_property_meta_fields",
                            "meta_value": "a:3:{i:0;s:25:\"_property_location_search\";i:1;s:18:\"_property_latitude\";i:2;s:19:\"_property_longitude\";}"
                          },
                          {
                            "meta_id": "3150",
                            "post_id": "604",
                            "meta_key": "_property_longitude",
                            "meta_value": "49.836423744738795"
                          },
                          {
                            "meta_id": "3152",
                            "post_id": "604",
                            "meta_key": "_property_slides",
                            "meta_value": "a:0:{}"
                          },
                          {
                            "meta_id": "5678",
                            "post_id": "604",
                            "meta_key": "_thumbnail_id",
                            "meta_value": "918"
                          }
                        ],
                        "image_url": "http://doctormap.az/wp-content/uploads/2014/09/102229145-352x400.jpg"
                      }
                    }
            ]
        }
        
## Institution Types Collection [/institution/all-institution-types]

### Get all institution types [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                      "term_taxonomy_id": "172",
                      "term_id": "141",
                      "count": "23",
                      "term": {
                        "term_id": "141",
                        "name": "Klinikalar"
                      }
                    },
                    {
                      "term_taxonomy_id": "174",
                      "term_id": "143",
                      "count": "0",
                      "term": {
                        "term_id": "143",
                        "name": "Apteklər"
                      }
                    },
                    {
                      "term_taxonomy_id": "350",
                      "term_id": "260",
                      "count": "8",
                      "term": {
                        "term_id": "260",
                        "name": "Fitness &amp; SPA"
                      }
                    }
              ]
            }
        
## Doctors list by category [/doctor-spec/doctor-list-by-category]

### Doctors list by category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "259",
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                {
                    "object_id": "1077",
                    "post": {
                        "id": "878",
                        "post_title": "Uzm. Dr. Lalə Cahangirova",
                        "post_content": "Dermatoloq Lalə Cahangirova Türk Dermatoloji dərnəyinin üzvüdür. Bir çox məqalələrin müəllifidir. III Spil Dermatoloji günləri, XIX Prof. Dr. A. Lütfü Tat simpozyumu, II və III Ege dermatoloji gunləri, XX. Ulusal Dermatoloji kongresi, III Ulusal Dermatoonkoloji gündəmi ve bir çox konferensiyalarda  aktiv olaraq iştirak edib.\r\n\r\n“Acne tedavisinde 0.05% tretinoin krem ilə 3 % salisilik asidin Guvenilirliyinin ve Etkinliyinin karşılaştırılması” adlı Elmi işi var. \r\n\r\n2009-ci ildən etibarən Merkezi Neftçilər Xəstəxanası və Modern Hospitalda Uzman Həkim Dermatoloq vəzifəsində çalışır.",
                        "certificates": [
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2014/09/img20140916_10540959-1024x688.jpg",
                            "id": 879
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2014/09/img20140916_10592182-1024x712.jpg",
                            "id": 880
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2014/09/img20140916_11000853-1024x720.jpg",
                            "id": 881
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2014/09/img20140916_11010001-1024x716.jpg",
                            "id": 882
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2014/09/img20140916_11015883-1024x719.jpg",
                            "id": 883
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2014/09/img20140916_11022779-721x1024.jpg",
                            "id": 884
                          }
                        ]
                  },
                  {
                    "object_id": "1862",
                    "post": {
                      "id": "1862",
                      "post_title": "Dr. Tutu Zeynalova",
                      "post_content": "Zeynalova Tutu Nizami qızı 1981-ci ildə Bakı şəhərində anadan olub. 2004-cü ildə Azərbaycan Tibb Universitetinin \"Müalicə işi\" fakültəsini bitirib. 2005-2011-ci illərdə həkim-anestezioloq olaraq çalışıb. Həkim-dietoloq olaraq Türkiyə Cumhuriyyətində təkmilləşib, Özəl Koru Hastanesi - Diyet ve Beslenme bölümü (Ankara 2012). TC Marmara Universiteti Tıp fakultesi \"İç hastalıkları ana bilim dalı endokrinoloji ve metabolizma\" hastalıkları bilim dalı Beslenme ve Diyetetik alanı (İstanbul 2013). Azərbaycan Plastik cərrahiyyə və Azərbaycan bariatik cərrahiyyə cəmiyyətlərinin həkim-dietoloqudur.\r\n\r\n"
                      "certificates": []               
                    }
            ]
        }
        
## List of promos by category [/promo-categories/promo-list-by-category]

### List of promos by category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "344"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                {
                  "id": "5399",
                  "post_date": "2015-11-02 20:45:32",
                  "post_content": "<h3><span style=\"color: #ff0000;\"><strong>Endirim 20%</strong></span></h3>\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
                },
                {
                  "id": "4866",
                  "post_date": "2015-05-20 20:01:41",
                  "post_content": "<h3><span style=\"color: #ff0000;\"><strong>Endirim 20%</strong></span></h3>\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
                },
            ]
        }
        
## Add member to the user [/users/add-member]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
    
## События [/posts]

### Список всех событий [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
                "status": 1,
                "data":
                    [
                        {
                            "post_title": "Şirinə qarşı meyliliyə üstün gəlmək  ",
                            "post_content": "Kiçik porsiyalarla müntəzəm qida qəbulu şirniyyata olan meyliliyin qarşısını almağa kömək edir. Bu metod qanda olan şəkərin qalxmasının qarşısını almağa köməklik edir. Əgər şəkərsiz heç cür qala bilmirsinizsə, bu zaman şəkər tərkibli tərəvəzləri meyvələrlə əvəz edin. <!--more-->\r\nŞirniyyata olan meylliyiniz Sizin qida rasionunuzda tərəvəzlərin seçiminizə təsir etməməlidir. Bəzi kiçik həcmli qida porsiyaları var ki, onlar Sizi gün ərzində tox saxlayır və şəkər tərkibli bir şeylər yeməyinizin qarşısını alır.  Qida rasionunuz zəngin proteinli və sağlam yağlı kiçik porsiyalardan ibarət olmalıdır. Bununla yanaşı buraya tərəvəz, quru meyvə, üzüm və çərəz əlavə olunmalıdır. Bu pəhriz Sizə gün ərzində güclü qalmağınıza kömək edəcək.\r\n\r\nŞirniyyata olan meylliliyinizin qarşısını ala bilməyən zaman keyfiyyətli qida rasionundan istifadə edin. Əsl tünd qara şokoladın orqanizmə heç bir ziyanı yoxdur. Çalışın şokoladı asta və dadını hiss edərək yeyin."
                        },
                        {
                            "post_title": "Elektron siqaretlərin sağlamlığa olan potensial zərərləri haqqında",
                            "post_content": "Bu məqalə Ümumdünya Səhiyyə təşkilatı tərəfindən nikotin tərkibli elektron siqaretlərə qoyulan qadağa ilə bağlı qərarlarına əsasən dərc olunmuşdur.\r\n\r\nHeç kim, elektron siqaretlərin zərrəsiz olduğunu bilmir. Reklamlarda elektron siqaretlərin insanlara siqaret çəkməyi tərgitməyinə köməklik etdiyi deyilir. Lakin heç bir araşdırma bu fikri təsdiq etməyib.\r\n\r\nElektron siqaretlər adi siqaret və ya siqar kimidirlər. <!--more-->Bu cihazların qələmə oxşar forması var. Cihaz batareya ilə işləyir. İçərisində xüsusi isidicisi, nikatın və digər kimyəvi maddələr olan katrici var. Bununla yanaşı cihaz alışan kimyəvi maddələri tüstü halına çevirən spreylə təchiz olunub.\r\n\r\nKimin, nəyinə lazımdır elektron siqaret çəkmək? Adi siqaretlərin tərkibində istifadəçilərdə asılılıq yaradan nikatın olur. Eyni zamanda siqaretin tərkibində orqanizmə düşən zaman onkoloji xəstəliklərin yaranmasına səbəb ola biləcək qatran olur. Elektron siqaret tərəfdarları əmin edirlər ki, cihaz sağlamlığa heç bir zərər vermədən siqaret çəkməyə imkan verir.\r\n\r\nElektron siqaret istifadəçisi siqaret çəkən zaman nikotin, su və propilen qlikol məhlulu udur. Nikotin iyi əvvəllər siqaret çəkən bəzi insanlarda yenidən adi siqaret çəkmək arzusu yaradır. Elektron siqaretdən istifadə edən insan qatran, adi siqaretdə olan dəm qazı və başqa maddələr udmur. Bu səbəbdən elektron siqaret istifadəçisi nikotindən zövq alarkən xərçəng xəstəliyinə tutulma qorxusu ilə üz-üzə qalmır.\r\n\r\nAldanmayın. Elektron siqaretlərə ehtiyatla yanaşmaq lazımdır. Əvvəla hər nəfəsdə aldığınız nikotin fərqli ola bilər. Nikotin – çox orqanların fəaliyyətini stimullaşdırır və nikotinin yüksək dozası ürəyin ritmini poza bilər. Hazırda elektron siqaretlərin ürək ritminin pozmasına dair heç bir dəlil yoxdur.\r\n\r\nİkincisi, elektron siqaretlərin tərkibində bir çox kimyəvi spektrlər var. Bu maddələrə yüksək zəhərli dietilenqlikolun qlikol, yüksək kanserogen Formaldehid və insan orqanizminə zərər verən daha 4 zərərli maddələr daxildir.\r\n\r\nHələ ki, elektron siqaretlərin adi siqaretlər kimi xərçəng xəstəliyi yaratmasına dair heç bir dəlil yoxdur. Bu da elektron siqaretlərlə bağlı uzunmüddətli tədqiqatların aparılmadığından irəli gəlir.\r\n\r\nÜçüncüsü elektron siqaretlər siqaret çəkmə prosesini təqlid etmək üçün ixtira olunub. Sırf bu səbəbdən siqareti tərgitmiş insanda yenidən əvvəlki adətinə qayıtmaq həvəsi yarana bilər. Elektron siqaret heç vaxt siqaret çəkməyən cavan insanlar üçün adi siqaretdən istifadəyə keçməyə ilk addım ola bilər. Tibbi cəhətdən elektron siqaretin zərərləri haqqında geniş sübut və dəlillər olmadan istifadəçilərə ehtiyatlı olmaları tövsiyə olunur."
                        }
                    ]
            } 

## SMS API [/sms]
+ action (Number) - required

            1 - invite_friend
            2 - check_code

### Invite friend by SMS [POST]

+ Request (application/json)

        {
            "action": "1",
            "phone": "+380681234567"
        }

+ Response 200 (application/json)

            {
                "status": 1
            }

### Check user SMS code [POST]

+ Request (application/json)

        {
            "action": "2",
            "phone": "+380684466574",
            "code": "12-12-12"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "authorization": "jopJCkS6pxWQlb_KaMO9OCfElmwZATsx"
            }
        }

## User Registration [/users/register]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## User Sign in [/users/sign-in]
        
### User Sign in [POST]

    Response is_registered:
        + true - user exists, SMS was sended
        + false - user not exists, must be registered now?

+ Request (application/json)

        {
            "phone": "+994507505555"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "is_registered": true,
           }
        }
        
## Users Collection [/users]

### Get user info [GET]

    + account_type:
        1 - limited package
        2 - unlimited package (owner)
        3 - unlimited package (member)


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "id": "123",
                "phone": "+380681234567",
                "name": "Test User",
                "birthdate": "1990-01-01",
                "gender": 1,
                "city_id": 1,
                "region_id": 1,
                "account_type": "1",
                "card_number": "1234-1234-1234-1234",
                "members": [
                    {
                        "id": "111",
                        "phone": "+380671234567",
                        "name": "Test User1",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    },
                    {
                        "id": "222",
                        "phone": "+380691234567",
                        "name": "Test User2",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    }
                ]
            }
        }
        
## User Updating [/users/set-account-type]

### Set Account Type [POST]

+ Request (application/json)
        
    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx
   
    + Body
  
            {
                "id": "123",
                "account_type": "1"
            }

+ Response 200 (application/json)

        {
            "id": "123",
            "phone": "+380681234567",
            "name": "New User",
            "birthdate": "1980-01-01",
            "gender": "newuser@gmail.com",
            "city": "Запорожье",
            "authorization": "123123123",
            "account_type": "1"
        }
        
## Promo Categories Collection [/promo-categories]

### Get all categories [GET]

+ Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

             {
              "status": 1,
              "data": [
                {
                  "id": "1",
                  "name": "Endirimler",
                  "count": 20
                },
                {
                  "id": "2",
                  "name": "Aksiyalar",
                  "count": 20
                },
                {
                  "id": "3",
                  "name": "Hədiyyələr",
                  "count": 20
                },
                {
                  "id": "4",
                  "name": "Elanlar",
                  "count": 20
                },
                {
                  "id": "5",
                  "name": "Məqalələr",
                  "count": 20
                },
                {
                  "id": "6",
                  "name": "Forum",
                  "count": 20
                },
                {
                  "id": "7",
                  "name": "Administrator online",
                  "count": 20
                }
              ]
            }

## Doctor's Categories Collection [/doctor-spec]

### Get all doctor's categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                  "term_taxonomy_id": "251",
                  "term_id": "146",
                  "count": "0",
                  "term": {
                    "term_id": "146",
                    "name": "Allerqoloq"
                  }
                },
                {
                  "term_taxonomy_id": "258",
                  "term_id": "183",
                  "count": "7",
                  "term": {
                    "term_id": "183",
                    "name": "Dermatoveneroloq"
                  }
                },
                {
                  "term_taxonomy_id": "259",
                  "term_id": "150",
                  "count": "2",
                  "term": {
                    "term_id": "150",
                    "name": "Dietoloq"
                  }
                }
              ]
            }