FORMAT: 1A
HOST: http://doctormap.dragan.com.ua/
 
# DoctorMap API

Debug API URL: 

http://doctormap.dragan.com.ua/

        + /doctor-spec/doctor-list-by-institution
        + /doctor-spec
        + /sms (action 1 and 2)
        + /users/sign-in
        + /users (get user by authorization)
        + /users/register
        + /promo-categories ??
        + /posts (события)
        + /users/set-account-type
        + /users/add-member
        + /promo-categories/promo-list-by-category ??
        + /doctor-spec/doctor-list-by-category
        + /institution/all-institution-types (типы учреждений)
        + /institution/institution-list-by-type (список учреждений по типу)
        + /categories
        + /categories/get-list-by-category

Production API URL: 

http://api.doctormap.az/v1/ - це заглушка, в майбутньому тут буде справжня адреса

## Status Code

        1 - success
        2 - general error
        3 - access 
        
## Doctors list by institution [/doctor-spec/doctor-list-by-institution]

### Doctors list by institution [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "object_id": "4015"
            }

+ Response 200 (application/json)

       {
          "status": 1,
          "data": [
            {
              "post_id": "669",
              "post": {
                "ID": "669",
                "post_author": "4",
                "post_date": "2014-09-05 11:11:45",
                "post_date_gmt": "2014-09-05 06:11:45",
                "post_content": " Dr. Firdovsi Məmmədov - Uroloq \r\n\r\n",
                "post_title": "Dr. Firdovsi Məmmədov",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "open",
                "ping_status": "open",
                "post_password": "",
                "post_name": "firdovsi-memmedov",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2015-11-05 11:53:00",
                "post_modified_gmt": "2015-11-05 06:53:00",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/doctors/firdovsi-memmedov/",
                "menu_order": "200",
                "post_type": "agent",
                "post_mime_type": "",
                "comment_count": "0",
                "doctorSpec": {
                  "term_taxonomy_id": "302",
                  "term_id": "170",
                  "taxonomy": "doctor_spec",
                  "description": "",
                  "parent": "0",
                  "count": "19",
                  "term": {
                    "term_id": "170",
                    "name": "Uroloq",
                    "slug": "uroloq",
                    "term_group": "0",
                    "term_order": "0"
                  }
                }
              }
            },
            {
              "post_id": "2037",
              "post": {
                "ID": "2037",
                "post_author": "4",
                "post_date": "2014-11-18 11:39:27",
                "post_date_gmt": "2014-11-18 06:39:27",
                "post_content": "Uroloq\r\n\r\n\r\nXidmət göstərdiyi sahələr.\r\n \r\n",
                "post_title": "Uzm. Dr. Elnur Məmmədov",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "open",
                "ping_status": "open",
                "post_password": "",
                "post_name": "uzm-dr-elnur-memmedov",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2016-01-16 19:47:41",
                "post_modified_gmt": "2016-01-16 14:47:41",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/doctors/uzm-dr-elnur-memmedov/",
                "menu_order": "108",
                "post_type": "agent",
                "post_mime_type": "",
                "comment_count": "0",
                "doctorSpec": {
                  "term_taxonomy_id": "302",
                  "term_id": "170",
                  "taxonomy": "doctor_spec",
                  "description": "",
                  "parent": "0",
                  "count": "19",
                  "term": {
                    "term_id": "170",
                    "name": "Uroloq",
                    "slug": "uroloq",
                    "term_group": "0",
                    "term_order": "0"
                  }
                }
              }
            },
            {
              "post_id": "1843",
              "post": {
                "ID": "1843",
                "post_author": "6",
                "post_date": "2014-10-27 12:39:36",
                "post_date_gmt": "2014-10-27 07:39:36",
                "post_content": "Dr. Aqil Ağakişiyev - Qastroenteroloq-Hepatoloq.\r\n\r\n",
                "post_title": "Dr. Aqil Ağakişiyev",
                "post_excerpt": "",
                "post_status": "publish",
                "comment_status": "closed",
                "ping_status": "closed",
                "post_password": "",
                "post_name": "agakisiyev-aqil",
                "to_ping": "",
                "pinged": "",
                "post_modified": "2015-05-05 10:56:16",
                "post_modified_gmt": "2015-05-05 05:56:16",
                "post_content_filtered": "",
                "post_parent": "0",
                "guid": "http://doctormap.az/doctors/agakisiyev-aqil/",
                "menu_order": "123",
                "post_type": "agent",
                "post_mime_type": "",
                "comment_count": "0",
                "doctorSpec": {
                  "term_taxonomy_id": "266",
                  "term_id": "188",
                  "taxonomy": "doctor_spec",
                  "description": "",
                  "parent": "0",
                  "count": "2",
                  "term": {
                    "term_id": "188",
                    "name": "Infeksionist",
                    "slug": "infeksionist",
                    "term_group": "0",
                    "term_order": "0"
                  }
                }
              }
            }
          ]
        }
        
## Get all items of the category [/categories/get-list-by-category]

### Get all items of the specified category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "1"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                "Klinikalar": [
                  {
                    "category": "Klinikalar",
                    "promo_category": "Ağız və üz-çənə cərrahiyyəsi",
                    "count": "7",
                    "discount": "25",
                    "discount_unlimited_package": null
                  },
                  {
                    "category": "Klinikalar",
                    "promo_category": "Check-up",
                    "count": "31",
                    "discount": "50",
                    "discount_unlimited_package": null
                  },
                ],
                "Fitness &amp; SPA": [
                  {
                    "category": "Fitness &amp; SPA",
                    "promo_category": "Badminton",
                    "count": "1",
                    "discount": "10",
                    "discount_unlimited_package": null
                  },
                  {
                    "category": "Fitness &amp; SPA",
                    "promo_category": "Doyüş növləri",
                    "count": "4",
                    "discount": "10",
                    "discount_unlimited_package": null
                  }
                ]
            ]
        }



+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "2"
            }

+ Response 200 (application/json)
            {
              "status": 1,
              "data": [
                {
                  "promo_category": "Check-up",
                  "count": "13",
                  "reg_price": "320",
                  "sale_price": "240"
                }
              ]
            }
            


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "category_id": "5"
            }

+ Response 200 (application/json)
            {
              "status": 1,
              "data": [
                {
                  "object_id": "3215",
                  "post": {
                    "id": "3215",
                    "post_title": "\"Yeni ilə baş ağrısı ilə girmək\"",
                    "post_content": "Son zamanlar mənə zəng edən və sms yazan pasientlərlə söhbətimizin mətni “ Doktor, yeni il bayramını yola verək, doyunca yeyək, bayramdan sonra qəbulunuza gəlmək istəyirik” - olur. ",
                    "post_date": "2014-12-27 19:46:07",
                    "image_url": null
                  }
                },
                {
                  "object_id": "2399",
                  "post": {
                    "id": "2399",
                    "post_title": "Baş ağrılarından qurtulmanın 4 üsulu ",
                    "post_content": "Bu üsul bəzi xəstələrə miqrenlə mübarizə etməkdə belə köməklik edir.\r\n\r\n<strong>Həkiminizdən yeni müalicə üsulları haqqında məlumatlar əldə edin. </strong>\r\n\r\nBaş ağrılarının müalicə olunmasına dair mütəmadi olaraq yeni müalicə üsulları yaranır. Məsələn bu il baş ağrılarının qarşısını almaq üçün xüsusi plastırların satışının başlanması planlaşdırılır. Bu cihaz elektronikanın köməyi ilə bədənə xüsusi dərmanlar ötürür. Cihaz ürəkbulanması ilə miqrendən əziyyət çəkən insanların müalicəsi üçün nəzərdə tutulub.",
                    "post_date": "2014-12-02 18:18:27",
                    "image_url": "http://doctormap.az/wp-content/uploads/2014/12/img_da43acdaaad764eb9af97e3698847236_1_1-500x399.jpg"
                }
               }
              ]
            }
        
## All Categories Collection [/categories]

### Get all categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
                "status": 1,
                "data": [
                    {
                      "id": 1,
                      "name": "Скидки",
                      "count": 201
                    },
                    {
                      "id": 2,
                      "name": "Акции",
                      "count": 7
                    },
                    {
                      "id": 3,
                      "name": "Подарки",
                      "count": 2
                    },
                    {
                      "id": 4,
                      "name": "Объявления",
                      "count": 0
                    },
                    {
                      "id": 5,
                      "name": "Статьи",
                      "count": 24
                    },
                    {
                      "id": 6,
                      "name": "Forum",
                      "count": 58
                    },
                    {
                      "id": 7,
                      "name": "Administrator online",
                      "count": 3
                    }
                ]
            }
        
## Institutions list by type [/institution/institution-list-by-type]

### Institutions list by type [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "172"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                        {
                          "object_id": "5204",
                          "post": {
                            "id": "5204",
                            "post_title": "İmplant Estetik",
                            "post_content": "Sumqayit sheh, 6-ci mkr. C.Memmedquluzade kuch,AZ5000 (H.Eliyev parkinin yax-da), AZ5000 Sumqayyt, Azerbaijan",
                            "promos": [
                              {
                                "_promo_discount": "10",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "20",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "10",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "10",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "15",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "20",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "20",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "20",
                                "promo_discount_unlimited_package": "0"
                              },
                              {
                                "_promo_discount": "20",
                                "promo_discount_unlimited_package": "0"
                              }
                            ],
                            "_property_address": "Sumqayit sheh, 6-ci mkr.",
                            "_property_latitude": "40.57989042788332",
                            "_property_longitude": "49.685871352732875",
                            "property_phone": "",
                            "property_email": "",
                            "property_website": "",
                            "image": {
                              "url": "http://doctormap.az/wp-content/uploads/2015/09/1357546465_rrr-ryorrrryo-1.jpg",
                              "width": 598,
                              "height": 302
                            },
                            "promos_count": 9,
                            "city_id": "360",
                            "area_id": null,
                          }
                        },
                        {
                          "object_id": "668",
                          "post": {
                            "id": "668",
                            "post_title": "Tusi Klinika",
                            "post_content": "<strong>N. Tusi adına Klinika</strong> geniş profilli müalicə - diaqnostika müəssisəsi olub poliklinika və stasionar şöbələrindən ibarətdir. Klinikanın instrumental diaqnostika bölməsi ən müasir tibbi avadanlıqlarla təchiz olunmuşdur.\r\n\r\n<b>Ünvan:</b> Zərdabi küç. 53,\r\nBakı, Azərbaycan, AZ1009\r\n<b>Tel:</b> 431 35 31 | 433 66 84/87/89/91\r\n<b>Faks:</b> 430-85-27",
                            "promos": [],
                            "_property_latitude": "40.39877698421234",
                            "_property_longitude": "49.805221832263214",
                            "_property_location_search": "Həsən bəy Zərdabi Küçəsi, Bakı, Azərbaycan",
                            "property_phone": "",
                            "property_email": "",
                            "property_website": "",
                            "image": {
                              "url": "http://doctormap.az/wp-content/uploads/2014/09/photo_1_34a0d403db701bce7132a9bcf5e2379a.jpg",
                              "width": 412,
                              "height": 201
                            },
                            "promos_count": 18,
                            "city_id": "359",
                            "area_id": null,
                          }
                        }
            ]
        }
        
## Institution Types Collection [/institution/all-institution-types]

### Get all institution types [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                      "term_taxonomy_id": "172",
                      "term_id": "141",
                      "count": "23",
                      "term": {
                        "term_id": "141",
                        "name": "Klinikalar"
                      }
                    },
                    {
                      "term_taxonomy_id": "174",
                      "term_id": "143",
                      "count": "0",
                      "term": {
                        "term_id": "143",
                        "name": "Apteklər"
                      }
                    },
                    {
                      "term_taxonomy_id": "350",
                      "term_id": "260",
                      "count": "8",
                      "term": {
                        "term_id": "260",
                        "name": "Fitness &amp; SPA"
                      }
                    }
              ]
            }
        
## Doctors list by category [/doctor-spec/doctor-list-by-category]

### Doctors list by category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "259"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                 {
                      "object_id": "5313",
                      "post": {
                        "id": "5313",
                        "post_title": "Liman Klinikası",
                        "post_content": "Sumqayıt şəhəri, 6cı mkr, Səməd Vurğun küçəsi, 35A,\r\n\r\n(+994 12) 448 06 00;\r\n\r\n(+994 18) 642 02 09;\r\n\r\n(+994 50) 235 24 34\r\n\r\n<a href=\"http://www.liman-clinic.az/\" target=\"_blank\" rel=\"nofollow\">http://www.liman-clinic.az</a>",
                        "institution": {
                          "ID": "296",
                          "post_author": "4",
                          "post_date": "2014-08-05 17:24:35",
                          "post_date_gmt": "2014-08-05 13:24:35",
                          "post_content": "MKX",
                          "post_title": "Mərkəzi Klinik Xəstəxana",
                          "post_excerpt": "",
                          "post_status": "draft",
                          "comment_status": "open",
                          "ping_status": "open",
                          "post_password": "",
                          "post_name": "merkezi-klinik-xestexana",
                          "to_ping": "",
                          "pinged": "",
                          "post_modified": "2016-03-02 11:02:43",
                          "post_modified_gmt": "2016-03-02 06:02:43",
                          "post_content_filtered": "",
                          "post_parent": "0",
                          "guid": "http://doctormap.az/?post_type=property&#038;p=296",
                          "menu_order": "81",
                          "post_type": "property",
                          "post_mime_type": "",
                          "comment_count": "0"
                        },
                        "_agent_mobile": "+99450 304 04 44",
                        "_agent_work_experience": "6-il",
                        "_agent_phone": "",
                        "_agent_email": "kamal_cumsudov@hotmail.com",
                        "_agent_home_visit": "",
                        "_agent_latitude": "40.36128384860239",
                        "_agent_longitude": "49.82483660179446",
                        "_agent_education": "2001-2007-ci illərdə Azərbaycan Tibb Universiteti I Müalicə-Profilaktika fakültəsində təhsil almışdır.",
                        "_agent_website": "",
                        "_agent_facebook": "",
                        "_agent_linkedin": "",
                        "_agent_twitter": "",
                        "_agent_youtube": "",
                        "additional_info": "",
                        "city_id": "359",
                        "area_id": "117",
                        "videos": [
                            "https://www.youtube.com/watch?v=yqo92wmF_Ls"
                        ],
                        "certificates": [
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10488176_316666301824929_8026981866422964557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10449186_314094475415445_4570812400311770055_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10367741_306546489503577_5272462520217456557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10341550_305648869593339_5528996788490706615_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10308089_301497403341819_8280322067291767834_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10177357_301168000041426_6137185697050510874_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10269388_300094980148728_5194020695315905090_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10150589_297753077049585_3974328174328400966_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10170708_297753073716252_5878654607218489690_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10325739_297753063716253_6356779054090222761_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1969410_297047457120147_5639010480333879685_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10270346_297047453786814_4924431329339296977_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273778_297047427120150_2419293876200604620_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273564_297047397120153_3476588789328110913_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10298730_297047380453488_8747410331276150788_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1544507_295735887251304_2079292106539006956_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10152665_295355180622708_5166333984765532273_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10155661_295355130622713_3837667729798873635_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10169414_295289827295910_3237119576304261015_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10156035_293027940855432_8290257741146421485_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10014533_291801070978119_7970355862594713313_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10007536_288527597972133_1446156544_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1939465_285199564971603_1075569059_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1947780_285199058304987_1489392857_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/14521_285199044971655_1702553910_n.jpg"
                          }
                        ],
                        "gallery": [
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0153.jpg",
                            "id": 5652
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0145.jpg",
                            "id": 5653
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0121.jpg",
                            "id": 5654
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0160.jpg",
                            "id": 5655
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0090.jpg",
                            "id": 5656
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0118.jpg",
                            "id": 5657
                          },
                          {
                            "url": "http://doctormap.az/wp-content/uploads/2016/03/DSC_0144.jpg",
                            "id": 5658
                          }
                        ],
                        "image": {
                          "url": "http://doctormap.az/wp-content/uploads/2015/10/333.jpg",
                          "width": 494,
                          "height": 358
                        }
                      }
                    },
                    {
                      "object_id": "5325",
                      "post": {
                        "id": "5325",
                        "post_title": "İNTERMED diaqnostika mərkəzi",
                        "post_content": "Heydər Əliyev pr., 40-cı məhəllə",
                        "institution": {
                          "ID": "4937",
                          "post_author": "2",
                          "post_date": "2015-06-11 18:24:54",
                          "post_date_gmt": "2015-06-11 13:24:54",
                          "post_content": "Unvan:Bakı ş. Badamdar qəs. Məktəbli küç. 1, MTN Hərbi Hospitalı\r\nTel: (+99412) 405 73 00\r\n(+99412) 405 73 99\r\nFaks:(+99412) 405 73 53",
                          "post_title": "MTN Hospital",
                          "post_excerpt": "",
                          "post_status": "publish",
                          "comment_status": "closed",
                          "ping_status": "open",
                          "post_password": "",
                          "post_name": "mtn-hospital",
                          "to_ping": "",
                          "pinged": "",
                          "post_modified": "2015-09-30 22:52:53",
                          "post_modified_gmt": "2015-09-30 17:52:53",
                          "post_content_filtered": "",
                          "post_parent": "0",
                          "guid": "http://doctormap.az/?post_type=property&#038;p=4937",
                          "menu_order": "25",
                          "post_type": "property",
                          "post_mime_type": "",
                          "comment_count": "0"
                        },
                        "_agent_mobile": "+99450 306 77 30",
                        "_agent_work_experience": "6-il",
                        "_agent_phone": "",
                        "_agent_email": "kazimovfz@gmail.com",
                        "_agent_home_visit": "",
                        "_agent_latitude": "40.3388475968573",
                        "_agent_longitude": "49.80312143760989",
                        "_agent_education": "1992-1998-ci illərdə \tN.Nərimanov adına Azərbaycan Tibb Universiteti, müalicə-profilaktika fakültəsini bitirmişdir.\r\n2000-2002-ci ilərdə\tAnkara Yüksek İhtisas  Eğitim ve Araştırma Hastanesi, İstanbul, Türkiyə\r\nÜrək və Damar Cərrahiyyəsındən Rezidentura\r\n\r\n2002-2004-cü illərdə\tİstanbul Koşuyolu Kalp Eğitim ve Araştırma Hastanesi, İstanbul, Türkiyə\r\nÜrək və Damar Cərrahiyyəsındən Rezidentura\r\n\r\n2012-ci ildə\tESCVS, Paul Sergeant Beating Heart  CABG Master Class \r\n",
                        "_agent_website": "",
                        "_agent_facebook": "",
                        "_agent_linkedin": "",
                        "_agent_twitter": "",
                        "_agent_youtube": "",
                        "additional_info": "",
                        "city_id": "359",
                        "area_id": "103",
                        "videos": [],
                        "certificates": [
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10488176_316666301824929_8026981866422964557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10449186_314094475415445_4570812400311770055_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10367741_306546489503577_5272462520217456557_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10341550_305648869593339_5528996788490706615_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10308089_301497403341819_8280322067291767834_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10177357_301168000041426_6137185697050510874_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10269388_300094980148728_5194020695315905090_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10150589_297753077049585_3974328174328400966_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10170708_297753073716252_5878654607218489690_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10325739_297753063716253_6356779054090222761_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1969410_297047457120147_5639010480333879685_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10270346_297047453786814_4924431329339296977_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273778_297047427120150_2419293876200604620_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10273564_297047397120153_3476588789328110913_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10298730_297047380453488_8747410331276150788_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1544507_295735887251304_2079292106539006956_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10152665_295355180622708_5166333984765532273_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10155661_295355130622713_3837667729798873635_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10169414_295289827295910_3237119576304261015_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10156035_293027940855432_8290257741146421485_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10014533_291801070978119_7970355862594713313_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/10007536_288527597972133_1446156544_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1939465_285199564971603_1075569059_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/1947780_285199058304987_1489392857_n.jpg"
                          },
                          {
                            "imgurl": "http://doctormap.az/wp-content/uploads/2015/06/14521_285199044971655_1702553910_n.jpg"
                          }
                        ],
                        "gallery": [],
                        "image": {
                          "url": "http://doctormap.az/wp-content/uploads/2015/10/555.jpg",
                          "width": 494,
                          "height": 358
                        }
                      }
                    },
            ]
        }
        
## List of promos by category [/promo-categories/promo-list-by-category]

### List of promos by category [POST]

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "term_taxonomy_id": "344"
            }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": [
                {
                  "id": "5399",
                  "post_date": "2015-11-02 20:45:32",
                  "post_content": "<h3><span style=\"color: #ff0000;\"><strong>Endirim 20%</strong></span></h3>\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
                },
                {
                  "id": "4866",
                  "post_date": "2015-05-20 20:01:41",
                  "post_content": "<h3><span style=\"color: #ff0000;\"><strong>Endirim 20%</strong></span></h3>\r\nİmplantologiya xidmətlərinin qiyməti implantın markasına görə dəyişir. Müvafiq olaraq:\r\n\r\nTürkiyə, Koreya, İsrail - 500AZN\r\nAmerika, İsveçrə, Almaniya - 800 AZN\r\nİTİ (İsveçrə) - 1200AZN\r\nİTİ (İsveçrə) - 1500 AZN"
                },
            ]
        }
        
## Add member to the user [/users/add-member]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
    
## События [/posts]

### Список всех событий [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
                "status": 1,
                "data":
                    [
                        {
                            "post_title": "Şirinə qarşı meyliliyə üstün gəlmək  ",
                            "post_content": "Kiçik porsiyalarla müntəzəm qida qəbulu şirniyyata olan meyliliyin qarşısını almağa kömək edir. Bu metod qanda olan şəkərin qalxmasının qarşısını almağa köməklik edir. Əgər şəkərsiz heç cür qala bilmirsinizsə, bu zaman şəkər tərkibli tərəvəzləri meyvələrlə əvəz edin. <!--more-->\r\nŞirniyyata olan meylliyiniz Sizin qida rasionunuzda tərəvəzlərin seçiminizə təsir etməməlidir. Bəzi kiçik həcmli qida porsiyaları var ki, onlar Sizi gün ərzində tox saxlayır və şəkər tərkibli bir şeylər yeməyinizin qarşısını alır.  Qida rasionunuz zəngin proteinli və sağlam yağlı kiçik porsiyalardan ibarət olmalıdır. Bununla yanaşı buraya tərəvəz, quru meyvə, üzüm və çərəz əlavə olunmalıdır. Bu pəhriz Sizə gün ərzində güclü qalmağınıza kömək edəcək.\r\n\r\nŞirniyyata olan meylliliyinizin qarşısını ala bilməyən zaman keyfiyyətli qida rasionundan istifadə edin. Əsl tünd qara şokoladın orqanizmə heç bir ziyanı yoxdur. Çalışın şokoladı asta və dadını hiss edərək yeyin."
                        },
                        {
                            "post_title": "Elektron siqaretlərin sağlamlığa olan potensial zərərləri haqqında",
                            "post_content": "Bu məqalə Ümumdünya Səhiyyə təşkilatı tərəfindən nikotin tərkibli elektron siqaretlərə qoyulan qadağa ilə bağlı qərarlarına əsasən dərc olunmuşdur.\r\n\r\nHeç kim, elektron siqaretlərin zərrəsiz olduğunu bilmir. Reklamlarda elektron siqaretlərin insanlara siqaret çəkməyi tərgitməyinə köməklik etdiyi deyilir. Lakin heç bir araşdırma bu fikri təsdiq etməyib.\r\n\r\nElektron siqaretlər adi siqaret və ya siqar kimidirlər. <!--more-->Bu cihazların qələmə oxşar forması var. Cihaz batareya ilə işləyir. İçərisində xüsusi isidicisi, nikatın və digər kimyəvi maddələr olan katrici var. Bununla yanaşı cihaz alışan kimyəvi maddələri tüstü halına çevirən spreylə təchiz olunub.\r\n\r\nKimin, nəyinə lazımdır elektron siqaret çəkmək? Adi siqaretlərin tərkibində istifadəçilərdə asılılıq yaradan nikatın olur. Eyni zamanda siqaretin tərkibində orqanizmə düşən zaman onkoloji xəstəliklərin yaranmasına səbəb ola biləcək qatran olur. Elektron siqaret tərəfdarları əmin edirlər ki, cihaz sağlamlığa heç bir zərər vermədən siqaret çəkməyə imkan verir.\r\n\r\nElektron siqaret istifadəçisi siqaret çəkən zaman nikotin, su və propilen qlikol məhlulu udur. Nikotin iyi əvvəllər siqaret çəkən bəzi insanlarda yenidən adi siqaret çəkmək arzusu yaradır. Elektron siqaretdən istifadə edən insan qatran, adi siqaretdə olan dəm qazı və başqa maddələr udmur. Bu səbəbdən elektron siqaret istifadəçisi nikotindən zövq alarkən xərçəng xəstəliyinə tutulma qorxusu ilə üz-üzə qalmır.\r\n\r\nAldanmayın. Elektron siqaretlərə ehtiyatla yanaşmaq lazımdır. Əvvəla hər nəfəsdə aldığınız nikotin fərqli ola bilər. Nikotin – çox orqanların fəaliyyətini stimullaşdırır və nikotinin yüksək dozası ürəyin ritmini poza bilər. Hazırda elektron siqaretlərin ürək ritminin pozmasına dair heç bir dəlil yoxdur.\r\n\r\nİkincisi, elektron siqaretlərin tərkibində bir çox kimyəvi spektrlər var. Bu maddələrə yüksək zəhərli dietilenqlikolun qlikol, yüksək kanserogen Formaldehid və insan orqanizminə zərər verən daha 4 zərərli maddələr daxildir.\r\n\r\nHələ ki, elektron siqaretlərin adi siqaretlər kimi xərçəng xəstəliyi yaratmasına dair heç bir dəlil yoxdur. Bu da elektron siqaretlərlə bağlı uzunmüddətli tədqiqatların aparılmadığından irəli gəlir.\r\n\r\nÜçüncüsü elektron siqaretlər siqaret çəkmə prosesini təqlid etmək üçün ixtira olunub. Sırf bu səbəbdən siqareti tərgitmiş insanda yenidən əvvəlki adətinə qayıtmaq həvəsi yarana bilər. Elektron siqaret heç vaxt siqaret çəkməyən cavan insanlar üçün adi siqaretdən istifadəyə keçməyə ilk addım ola bilər. Tibbi cəhətdən elektron siqaretin zərərləri haqqında geniş sübut və dəlillər olmadan istifadəçilərə ehtiyatlı olmaları tövsiyə olunur."
                        }
                    ]
            } 

## SMS API [/sms]
+ action (Number) - required

            1 - invite_friend
            2 - check_code

### Invite friend by SMS [POST]

+ Request (application/json)

        {
            "action": "1",
            "phone": "+380681234567"
        }

+ Response 200 (application/json)

            {
                "status": 1
            }

### Check user SMS code [POST]

+ Request (application/json)

        {
            "action": "2",
            "phone": "+380684466574",
            "code": "12-12-12"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "authorization": "jopJCkS6pxWQlb_KaMO9OCfElmwZATsx"
            }
        }

## User Registration [/users/register]

### Register new user [POST]

    + phone (String) - required
    + name (String) - required
    + birthday (String) - required
    
            yyyy-mm-dd
    
    + gender (Bool) - required
    
            female - 0
            male - 1
                
    + city_id (Integer) - required
    + region_id (Integer) - optional

+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

    + Body

            {
                "phone": "+380681234567",
                "name": "New User",
                "birthday": "1980-01-01",
                "gender": true,
                "city_id": 1,
                "region_id": 1
            }

+ Response 200 (application/json)

        {
            "status": 1
        }
        
## User Sign in [/users/sign-in]
        
### User Sign in [POST]

    Response is_registered:
        + true - user exists, SMS was sended
        + false - user not exists, must be registered now?

+ Request (application/json)

        {
            "phone": "+994507505555"
        }

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "is_registered": true,
           }
        }
        
## Users Collection [/users]

### Get user info [GET]

    + account_type:
        1 - limited package
        2 - unlimited package (owner)
        3 - unlimited package (member)


+ Request (application/json)

    + Headers
    
            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

        {
            "status": 1,
            "data": {
                "id": "123",
                "phone": "+380681234567",
                "name": "Test User",
                "birthdate": "1990-01-01",
                "gender": 1,
                "city_id": 1,
                "region_id": 1,
                "account_type": "1",
                "card_number": "1234-1234-1234-1234",
                "members": [
                    {
                        "id": "111",
                        "phone": "+380671234567",
                        "name": "Test User1",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    },
                    {
                        "id": "222",
                        "phone": "+380691234567",
                        "name": "Test User2",
                        "birthdate": "1990-01-01",
                        "gender": 1,
                        "city": "Запорожье",
                        "region": "Космический",
                        "account_type": "0",
                        "card_number": "1234-1234-1234-1234"
                    }
                ]
            }
        }
        
## User Updating [/users/set-account-type]

### Set Account Type [POST]

+ Request (application/json)
        
    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx
   
    + Body
  
            {
                "id": "123",
                "account_type": "1"
            }

+ Response 200 (application/json)

        {
            "id": "123",
            "phone": "+380681234567",
            "name": "New User",
            "birthdate": "1980-01-01",
            "gender": "newuser@gmail.com",
            "city": "Запорожье",
            "authorization": "123123123",
            "account_type": "1"
        }
        
## Promo Categories Collection [/promo-categories]

### Get all categories [GET]

+ Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

             {
              "status": 1,
              "data": [
                {
                  "id": "1",
                  "name": "Endirimler",
                  "count": 20
                },
                {
                  "id": "2",
                  "name": "Aksiyalar",
                  "count": 20
                },
                {
                  "id": "3",
                  "name": "Hədiyyələr",
                  "count": 20
                },
                {
                  "id": "4",
                  "name": "Elanlar",
                  "count": 20
                },
                {
                  "id": "5",
                  "name": "Məqalələr",
                  "count": 20
                },
                {
                  "id": "6",
                  "name": "Forum",
                  "count": 20
                },
                {
                  "id": "7",
                  "name": "Administrator online",
                  "count": 20
                }
              ]
            }

## Doctor's Categories Collection [/doctor-spec]

### Get all doctor's categories [GET]

+ Request (application/json)

    + Headers

            Authorization: jopJCkS6pxWQlb_KaMO9OCfElmwZATsx

+ Response 200 (application/json)

            {
              "status": 1,
              "data": [
                {
                  "term_taxonomy_id": "251",
                  "term_id": "146",
                  "count": "0",
                  "term": {
                    "term_id": "146",
                    "name": "Allerqoloq"
                  }
                },
                {
                  "term_taxonomy_id": "258",
                  "term_id": "183",
                  "count": "7",
                  "term": {
                    "term_id": "183",
                    "name": "Dermatoveneroloq"
                  }
                },
                {
                  "term_taxonomy_id": "259",
                  "term_id": "150",
                  "count": "2",
                  "term": {
                    "term_id": "150",
                    "name": "Dietoloq"
                  }
                }
              ]
            }